@import 'essencial/utilities';
@import 'components/header';


:root {
  --dark: $dark;

}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: $light;
  color: $dark;
  font-family: 'Ubuntu', sans-serif;
  text-wrap: balance;

  @media (max-width:992px) {
    font-size: $font-size-sm;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $white;
    background: linear-gradient(to right, transparent 30%, $primary 50%, transparent 70%);
    background: -webkit-gradient(left top, right top, color-stop(30%, transparent), color-stop(50%, $primary, color-stop(70%, transparent)))
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 10px;
  }
}

* {
  transition: var(--transition-1);
}

.navbar-toggler {
  padding: var(--size-2);
  height: calc(24px + var(--size-2) + var(--size-2));
  width: calc(24px + var(--size-2) + var(--size-2));

  img {
    height: 24px;
  }

  &.logado {
    padding: var(--size-0);

    img {
      height: 38px;
    }
  }
}

a {
  color: $primary;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

button {

  &:focus,
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}

:focus,
:focus-visible {
  outline: 1px auto $primary;
}


select,
input {
  padding: var(--size-2) var(--size-3);
  border-radius: var(--size-2);
  background: transparent;
  border: 1px solid $dark;
  text-align: center;

  &:focus,
  :focus-visible {
    outline: 1px auto $primary;
    ;
    // box-shadow: 0 0 0 0.2rem $primary;
  }

}

tr.pago {
  td {
    &:nth-child(3) {
      text-wrap-mode: nowrap;
      position: relative;

      &::after {
        content: '$';
        // position: absolute;
        width: 22px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: $size-1;

        font-size: $font-size-xs;
        font-weight: bold;
        border-radius: $size-4;
        background-color: $cravada;
        color: $light;
        scale: .8;
      }
    }
  }
}

.scrollable {
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $white;
    background: linear-gradient(left, transparent 30%, $primary 50%, transparent 70%);
    background: -webkit-gradient(left top, right top, color-stop(30%, transparent), color-stop(50%, $primary, color-stop(70%, transparent)))
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 10px;
    transition: var(--transition-2);

    &:hover {
      background: $primary;
    }
  }
}



footer {

  display: flex;
  justify-content: center;
  align-items: center;

  .primary {
    color: $primary;
  }

  a {
    color: $primary;

    &:hover {
      color: $primary-light;
      text-decoration: none;
    }
  }

  @media (max-width:992px) {
    color: transparent;
  }
}

.loading {
  * {
    transition: var(--transition-2);
  }

  .skeleton {
    position: relative;
    overflow: hidden !important;
    border: 0 !important;
    color: transparent !important;
    border-radius: $size-2 !important;

    &.btn,
    &.nav-link {
      background-color: $medium !important;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;
      border-radius: $size-2;

    }

    &:before {
      z-index: 1;
      background-color: $medium !important;
    }

    &:after {
      z-index: 2;
      background-image: linear-gradient(120deg, transparent 25%, rgba(255, 255, 255, 0.6) 50%, transparent 75%);
      animation: shimmer 1.5s infinite;
    }
  }


  @keyframes shimmer {
    0% {
      left: -150%;
    }

    100% {
      left: 150%;
    }
  }
}

.atualizando {
  #carregando {
    z-index: 999;
    display: block;
    position: fixed;
    bottom: calc(.5rem + 60px);
    left: 50%;
    translate: -50% 0;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid $primary;
    width: calc(100% - 32px);
    max-width: 690px;

    @media (max-width:992px) {
      bottom: calc(.5rem + 70px);
    }

    &.erro,
    &.success {
      svg {
        width: 32px;
        height: 32px;
      }
    }

    &.erro {
      border: 1px solid $danger;
      fill: $danger;
    }

    &.success {
      border: 1px solid $cravada;
      fill: $cravada;
    }

    &-text {
      color: $dark;
    }

    @media (max-width:992px) {
      bottom: calc(1rem + 70px);
    }
  }

  form.skeleton {
    position: relative;
    overflow: hidden !important;
    // border: 1px solid $gray !important;
    color: transparent !important;
    border-radius: $size-2 !important;
    padding: var(--size-1)!important;
    width: 96px;
    // background-image: linear-gradient(120deg, transparent 25%, rgba(255, 255, 255, 0.6) 50%, transparent 75%);

    &.btn,
    &.nav-link {
      background-color: $medium !important;
    }

    &:before,
    &:after {
      content: ''!important;
      position: absolute;
      display: block!important;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;
      border-radius: $size-2;

    }

    &:before {
      z-index: 1;
      background-color: $medium !important;
      opacity: .75;
    }

    &:after {
      z-index: 2;
      background-image: linear-gradient(120deg, transparent 25%, rgba(255, 255, 255, 0.6) 50%, transparent 75%);
      animation: shimmer 1.5s infinite;
    }
  }
}

#carregando {
  display: none;
}

.preloader {
  background-color: #232323;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;

  .preview {
    transform: scale(1.5);
  }

  span {
    background: #e1e1e1;
    border-radius: 100%;
    height: 60px;
    width: 200px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin: auto;
    -webkit-animation: mymove 1.5s infinite linear;
    animation: mymove 1.5s infinite linear;

    img {
      margin-top: 0px;
    }

    p {
      color: #5f5f5f;

    }
  }

  .content-preloader {
    position: relative;
    text-align: center;
    margin-top: 15%;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .icone {
    position: absolute;
    top: 28px;
    left: 24px;
    transform: scale(2);
  }
}

.spinner {
  --spinner-size: 5;
  --line-color: #06DDBB;
  --line-alpha: 1;
  --ring-color: #f1f1f1;
  --ring-alpha: 1;
  --ring-size: 2.4;
  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;

  .line {
    fill: none;
    stroke: var(--line-color);
    stroke-width: var(--ring-size);
    opacity: var(--line-alpha);
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate3d(0, 0, 1, 0deg);
    animation: 2156ms spinner-arc ease-in-out infinite, 1829ms spinner-rotate linear infinite;
  }

  .ring {
    fill: none;
    stroke: var(--ring-color);
    stroke-width: var(--ring-size);
    opacity: var(--ring-alpha);
  }
}

@keyframes spinner-rotate {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes spinner-arc {
  from {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }

  to {
    stroke-dasharray: 100 150;
    stroke-dashoffset: -140;
  }
}

@media (max-width: 500px) {
  .content-preloader {
    margin-top: 70%
  }
}

.fixed-top {
  z-index: 1000;
}


/* ELEMENTS*/
.manutencao {
  background: $light;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

#menu {

  display: flex;
  justify-content: center;
  align-items: center;


  .container {
    background: $light;
  }

  .navbar {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);

    @media (max-width:992px) {

      &-collapse {
        display: flex !important;
        position: fixed;
        bottom: .25rem;
        left: 0;
        right: 0;

        .navbar-nav {
          flex-direction: row;
          padding: .5rem;
          background: $light;
          box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
          width: calc(100% - 2rem);
          max-width: 690px;
          justify-content: space-between;
        }

      }
    }
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    color: $dark;
    fill: $dark;
    padding-inline: .5rem;


    @media (max-width:992px) {
      flex-direction: column;
      font-size: .65rem;
      padding: .25rem;
    }

    &:hover {
      color: $primary;
      fill: $primary;
    }

    &.active {
      color: $light !important;
      fill: $light !important;
      font-weight: bold;
      background: var(--turquoise-600);
      border-radius: .5rem;

      img {
        filter: invert(1);
      }
    }

    &.disabled {
      color: rgba(0, 0, 0, .3) !important;
    }
  }

  .nav-space {
    height: 98px;

    @media (max-width:767px) {
      height: 74px;
    }
  }
}

#content {

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background: $light;
    width: 100%;
    border-radius: var(--size-3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);


    @media (max-width:425px) {
      padding: 2rem 1rem;
    }

    .btn {
      width: 100%;
      // background: $dark;
      border: none;
    }
  }

  .pontuacao {


    .circle {
      height: 16px;
      width: 16px;
      border-radius: 20px;
      margin-right: 10px;
    }

  }
}

#regras {

  .accordion {

    &-item,
    &-body {
      padding: .5rem;
    }

    &-button {
      position: relative;
      color: $primary;
      padding-right: 2.5rem;

      &:before {
        --minus-size: 16px;
        content: "";

        background-image: url('data:image/svg+xml,%3Csvg id="arrow" viewBox="0 0 16 16" height="24px" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath class="st0" fill="%2bf90003" d="M7.3,10.4l-3.8-3.9c-.3-.3-.3-.8,0-1.1s.8-.3,1.1,0l3.5,3.5,3.5-3.5c.3-.3.8-.3,1.1,0s.3.8,0,1.1l-4,4c-.1.1-.3.3-.6.3s-.6-.2-.8-.4Z"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 1rem;
        top: 50%;
        translate: 0 -50%;
        width: var(--minus-size);
        height: var(--minus-size);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        rotate: -180deg;
      }

      &.collapsed {
        color: $dark;

        &:before {
          rotate: 0deg;
        }
      }
    }


  }
}

#content-fixed.fixed-top {
  top: 90px;
  background: $light;
  z-index: 99;

  @media (max-width:992px) {
    top: 65px;
  }
}

#content-space {
  height: 104px;
}

#classificacao {

  #content-space {
    &.simple{
      height: 56px;
    }
    &.double {
      height: 86px;
    }
  }

  .classificacao {
    position: relative;
    height: calc(100dvh - 198px);
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width:767px) {
      height: calc(100dvh - 182px);
    }

    &::-webkit-scrollbar {
      display: none;
    }

  }

  #classificacaoA {
    tbody {
      tr {
        &:nth-child(1) {

          color: $cravada !important;

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $cravada !important;
              }
            }
          }


        }

        &:nth-last-child(2) {
          color: $danger-dark !important;

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $danger-dark !important;
              }
            }
          }
        }

        &:nth-last-child(1),
        &:nth-child(n+8) {
          color: $danger !important;

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $danger !important;
              }
            }
          }
        }
      }
    }
  }

  #classificacaoB {
    tbody {
      tr {
        &:nth-child(1) {

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $primary !important;
              }
            }
          }

        }

        &:nth-child(2) {

          td {
            &:nth-child(1) {
              color: $dark !important;

              &:after {
                background: $primary-light !important;
              }
            }
          }

        }

      }
    }
  }

  .table {
    // display: inline !important;
    color: $dark;
    border-collapse: separate;
    border-spacing: 0px 10px;

    thead {
      position: sticky;
      top: 0;

      tr {
        background: $light !important;
        box-shadow: -10px 0px 0px $light, 10px 0px 0px $light, 10px -10px 0px $light, -10px -10px 0px $light;
      }

      th {
        position: relative;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (max-width:567px) {
          &:nth-child(n+4):nth-child(-n+9) {
            color: transparent !important;
          }
        }

        &:nth-child(4) {
          @media (max-width:567px) {
            &::after {
              content: "P";
              color: $primary !important;
            }
          }
        }

        &:nth-child(5) {
          @media (max-width:567px) {
            &::after {
              content: "C";
              color: $cravada !important;
            }
          }
        }

        &:nth-child(6) {
          @media (max-width:567px) {
            &::after {
              content: "S";
              color: $saldo !important;
            }
          }
        }

        &:nth-child(7) {
          @media (max-width:567px) {
            &::after {
              content: "A";
              color: $acerto !important;
            }
          }
        }

        &:nth-child(8) {
          @media (max-width:567px) {
            &::after {
              content: "% Ap";
              color: $dark !important;
            }
          }
        }

        &:nth-child(9) {
          @media (max-width:567px) {
            &::after {
              content: "% Ac";
              color: $dark !important;
            }
          }
        }

      }
    }

    tbody {
      max-height: 600px;
      overflow: scroll;

      tr {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: .5rem;

        td {
          line-height: $line-height-tight;

          &:nth-child(1) {
            position: relative;

            @media (max-width:410px) {
              font-size: $font-size-xs;
            }

            &:after {
              content: "";
              background: $medium !important;
              position: absolute;
              top: calc(50%);
              left: calc(50%);
              translate: -50% -50%;
              width: $size-xxs;
              height: $size-xxs;
              border-radius: $size-quarck;
              z-index: -1;

              @media (max-width:410px) {
                // border-radius: calc($size-nano - 2px);
                // width: 22px;
                // height: 22px;
              }
            }
          }
        }




      }


    }

    th,
    td {
      vertical-align: middle;
      text-align: center;




      @media (max-width:410px) {
        // padding: $size-2 0.1rem;
        // font-size: var(--font-size-sm);
      }

      &:nth-child(1) {
        width: var(--t-size);
        font-weight: bold;
        // padding: $size-2;
        // padding-right: 0 !important;
        // padding-left: $size-2;

      }

      &:nth-child(2) {
        width: var(--t-size);
        padding: 0 !important;
      }

      &:nth-child(3) {
        text-align: left;
        //font-weight: bold;
        color: $dark;
        padding: .75rem .25rem;
      }

      &:nth-child(4) {
        font-weight: bold;
        color: $primary;

      }

      &:nth-child(5) {
        color: $cravada;
      }

      &:nth-child(6) {
        color: $saldo;
      }

      &:nth-child(7) {
        color: $acerto;
      }

      &:nth-child(n+4):nth-child(-n+7) {
        width: var(--n-size);
        max-width: var(--n-size);
        // display: inline-flex;
        // justify-content: center;

        @media (max-width:576px) {
          max-width: 46px;
          overflow: hidden;
        }
      }
      &:nth-child(n+8) {
        width: var(--n-size);
        max-width: var(--n-size);
        // display: inline-flex;
        // justify-content: center;

        @media (max-width:576px) {
          max-width: 60px;
          overflow: hidden;
        }
      }

    }

  }
}

#copa {
  .navegacao {

    nav {

      .nav-link {
        width: 25%;

        &.final {
          &.active {
            color: $cravada;
            border-bottom: 2px solid $cravada !important;
          }
        }
      }
    }
  }

  .selecao {

    &:after,
    &:before {
      display: none;
    }

    &.vencedor {

      tbody {
        tr {
          &:nth-child(1) {
            outline: 2px solid $primary;
            background: $primary;

            td {
              color: $light !important;

            }
          }
        }
      }

      &#nav-final {
        tbody {
          tr {
            &:nth-child(1) {
              outline: 2px solid $cravada;
              background: $cravada;

              td {
                color: $light !important;
              }
            }
          }
        }
      }
    }

    &.andamento {

      tbody {
        tr {
          &:nth-child(1) {
            outline: 2px solid $primary;
            // background: $primary;

            td {

              &:nth-child(3),
              &:nth-child(4) {
                //  color: $light!important;
              }
            }
          }
        }
      }

      &#nav-final {
        tbody {
          tr {
            &:nth-child(1) {
              outline: 2px solid $cravada;
              // background: $cravada;

              td {

                &:nth-child(3),
                &:nth-child(4) {
                  //  color: $dark!important;
                }
              }
            }
          }
        }
      }
    }

    .nav-link {
      &.final {
        border: 1px solid $cravada !important;
      }
    }
  }

  #content-space {
    height: 56px;
  }

  .table {
    // display: inline !important;
    color: $dark;
    border-collapse: separate;
    border-spacing: 0px 10px;
    margin: 0;

    thead {
      position: sticky;
      top: 0;

      tr {
        background: $light !important;
        box-shadow: -10px 0px 0px $light, 10px 0px 0px $light, 10px -10px 0px $light, -10px -10px 0px $light;
      }

      th {
        position: relative;
        padding-block: 0.25rem !important;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (max-width:567px) {
          &:nth-child(n+4):nth-child(-n+7) {
            color: transparent !important;
          }
        }

        &:nth-child(4) {
          @media (max-width:567px) {
            &::after {
              content: "P";
              color: $primary !important;
            }
          }
        }

        &:nth-child(5) {
          @media (max-width:567px) {
            &::after {
              content: "C";
              color: $cravada !important;
            }
          }
        }

        &:nth-child(6) {
          @media (max-width:567px) {
            &::after {
              content: "S";
              color: $saldo !important;
            }
          }
        }

        &:nth-child(7) {
          @media (max-width:567px) {
            &::after {
              content: "A";
              color: $acerto !important;
            }
          }
        }

      }
    }

    tbody {
      max-height: 600px;
      overflow: scroll;

      tr {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: $size-2;

        td {
          line-height: $line-height-tight;
          border: 0;

          &:nth-child(1) {
            position: relative;
            border-radius: $size-2 0 0 $size-2;

            @media (max-width:410px) {
              font-size: $font-size-xs;
            }

            &:after {
              content: "";
              position: absolute;
              top: calc(50%);
              left: calc(50%);
              translate: -50% -50%;
              width: $size-xxs;
              height: $size-xxs;
              border-radius: $size-quarck;
              z-index: -1;

              @media (max-width:410px) {
                // border-radius: calc($size-nano - 2px);
                // width: 22px;
                // height: 22px;
              }
            }
          }

          &:nth-last-child(1) {
            border-radius: 0 $size-2 $size-2 0;
          }
        }

        &:nth-child(1) {
          color: $cravada !important;


          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $primary !important;
              }
            }
          }


        }

        &:nth-child(2) {
          color: $saldo !important;

          td {
            &:nth-child(1) {
              color: $dark !important;

              &:after {
                // background: $saldo !important;
              }
            }
          }
        }

      }


    }

    th,
    td {
      vertical-align: middle;
      text-align: center;


      &:nth-child(1) {
        width: var(--t-size);
        font-weight: bold;

      }

      &:nth-child(2) {
        width: var(--t-size);
        padding: 0 !important;
      }

      &:nth-child(3) {
        text-align: left;
        //font-weight: bold;
        color: $dark;
        padding: .75rem .25rem;
      }

      &:nth-child(4) {
        font-weight: bold;
        color: $primary;

      }

      &:nth-child(5) {
        color: $cravada;
      }

      &:nth-child(6) {
        color: $saldo;
      }

      &:nth-child(7) {
        color: $acerto;
      }

      &:nth-child(n+4):nth-child(-n+7) {
        width: var(--n-size);
        max-width: var(--n-size);
        // display: inline-flex;
        // justify-content: center;

        @media (max-width:576px) {
          max-width: 46px;
          overflow: hidden;
        }

        @media (max-width:410px) {
          max-width: 40px;
        }
      }

    }

  }

}

#jogos {

  .accordion {
    gap: $size-2;
  }

  .card {
    max-width: 400px;
    height: fit-content;

    * {
      transition: var(--transition-1);
    }

    &.Finalizado {
      background: $medium;

      .card-game-result-score {
        span, input {
          border: $gray solid 1px;
          background: $gray;
          color: $dark-gray;
        }
      }
    }

    &.vivo {
      border: 1px solid $danger!important;

      .card-game-label-hour {
        position: relative;

        &::before {
          content: "Ao vivo";
          position: absolute;
          top: 50%;
          left: calc(50% + 3px);
          translate: -50% -50%;
          background: $danger;
          color: $light;
          padding: $size-0 $size-2;
          border-radius: $size-5;
          font-size: $font-size-xs;
          text-wrap-mode: nowrap;
        }
      }

      .card-game-result-score {
        span, input {
          background: transparent;
          border: 1px solid $gray;
          color: $gray;
        }
      }

      .card-game-real {
        &-score {
          color: $danger;
        }
      }
    }

    &.breve {
      td {
        &:last-child {
          display: none;
        }
      }

      .card-game-real {
        display: none;
      }

      .card-game-result-score {
        &:after {
          content: none;
        }
      }
    }

    &-game {
      position: relative;
      padding: $size-2;
      gap: $size-2;

      // padding-bottom: 0;
      &::before,
      &::after {
        scale: .9;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:before {
        content: '';
        position: absolute;
        top: $size-2;
        left: $size-2;
        width: $size-3;
        height: $size-3;
        border-radius: 100px;
        // font-size: $font-size-xs;
      }

      &:after {
        position: absolute;
        top: $size-2;
        left: calc($size-3 + $size-2);
        font-size: $font-size-xs;
      }

      &.salvando {
        &::before {
          border: 2px solid $primary;
          border-top-color: transparent;
          animation: load .5s linear infinite;
        }

        &::after {
          content: 'salvando...';
          color: $primary;
        }



        @keyframes load {
          0% {
            rotate: 0deg;
          }

          100% {
            rotate: 360deg;
          }
        }
      }

      &.enviando {
        &::before {
          border: 2px solid $primary;
          border-top-color: transparent;
          animation: load .5s linear infinite;
        }

        &::after {
          content: 'enviando...';
          color: $primary;
        }



        @keyframes load {
          0% {
            rotate: 0deg;
          }

          100% {
            rotate: 360deg;
          }
        }
      }

      &.salvo {
        &::before {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M13.0261 7.63487C13.4166 8.0254 13.4166 8.65856 13.0261 9.04909L8.87811 13.1971C8.69058 13.3846 8.43622 13.49 8.17101 13.49C7.90579 13.49 7.65144 13.3846 7.4639 13.1971L4.9749 10.7081C4.58438 10.3176 4.58438 9.6844 4.9749 9.29387C5.36542 8.90335 5.99859 8.90335 6.38911 9.29387L8.17101 11.0758L11.6119 7.63487C12.0024 7.24435 12.6356 7.24435 13.0261 7.63487Z' fill='%23bf9000'/><path fill-rule='evenodd' clip-rule='evenodd' d='M7.71178 0.474095C8.44802 -0.157901 9.55168 -0.15664 10.2874 0.473436L10.2881 0.474005C11.8986 1.85563 13.9377 2.74729 16.1786 2.92409C17.2345 3.00698 18 3.90132 18 4.91299V9.24299C18 14.0738 14.5309 18.5478 9.79554 19.8891L9.79547 19.8892C9.27833 20.0356 8.72267 20.0356 8.20553 19.8892C3.46885 18.5487 0 14.0725 0 9.24199V4.91199C0 3.90068 0.76612 3.00693 1.82135 2.92409M7.71178 0.474095C6.10108 1.85484 4.06207 2.74722 1.82173 2.92406ZM9 2.00405C10.9142 3.64118 13.3378 4.70154 16 4.91619V9.24299C16 13.1462 13.1572 16.8582 9.25053 17.9648C9.08967 18.0104 8.91133 18.0104 8.75047 17.9648L8.75028 17.9648C4.84305 16.8591 2 13.1454 2 9.24199V4.91619C4.66252 4.7015 7.08611 3.63995 9 2.00405ZM9.01386 1.99218L9.01448 1.99165Z' fill='%23bf9000'/></svg>");
        }

        &::after {
          content: 'salvo';
          color: $cravada;
        }
      }

      &.erro {
        &::before {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.79228 7.29207C7.18281 6.90154 7.81597 6.90154 8.2065 7.29207L11.2077 10.2933C11.5983 10.6838 11.5983 11.317 11.2077 11.7075C10.8172 12.0981 10.1841 12.0981 9.79353 11.7075L6.79228 8.70628C6.40176 8.31576 6.40176 7.68259 6.79228 7.29207Z' fill='%23c21313'/><path fill-rule='evenodd' clip-rule='evenodd' d='M11.2077 7.29207C11.5983 7.68259 11.5983 8.31576 11.2077 8.70628L8.2065 11.7075C7.81597 12.0981 7.18281 12.0981 6.79228 11.7075C6.40176 11.317 6.40176 10.6838 6.79228 10.2933L9.79353 7.29207C10.1841 6.90154 10.8172 6.90154 11.2077 7.29207Z' fill='%23c21313'/><path fill-rule='evenodd' clip-rule='evenodd' d='M9.29856 2.04177C9.10418 1.98103 8.89589 1.98103 8.70151 2.04177L2.69901 3.91756C2.2812 4.04812 1.9967 4.43508 1.9967 4.87287V9.13765C1.9967 12.891 4.32493 16.2506 7.83927 17.5685C7.83928 17.5685 7.83929 17.5685 7.8393 17.5685L8.99987 18.0037L8.99989 18.0037H9.00018L9.00021 18.0037L10.1608 17.5685C10.1608 17.5685 10.1608 17.5685 10.1608 17.5685C13.6751 16.2506 16.0034 12.891 16.0034 9.13765V4.87287C16.0034 4.43508 15.7189 4.04812 15.3011 3.91756L9.29856 2.04177ZM8.10496 0.132814C8.68778 -0.0493169 9.31229 -0.0493169 9.89511 0.132814L15.8976 2.0086C17.1504 2.4001 18.0034 3.56036 18.0034 4.87287V9.13765C18.0034 13.7247 15.158 17.8306 10.863 19.4412L10.863 19.4412L9.70242 19.8764C9.70242 19.8764 9.70241 19.8764 9.7024 19.8764C9.24954 20.0462 8.7505 20.0462 8.29765 19.8764L7.13708 19.4412L7.13705 19.4412C2.84209 17.8306 -0.0032959 13.7247 -0.0032959 9.13765V4.87287C-0.0032959 3.56036 0.849653 2.4001 2.10246 2.0086L8.10496 0.132814Z' fill='%23c21313'/></svg>");
        }

        &::after {
          content: 'erro';
          color: $danger;
        }
      }


      &-label {
        font-size: var(--font-size-xs);

        &-info {
          color: $gray;
          border: 1px solid $gray;
          border-radius: 100px;
          padding: var(--size-0) var(--size-1);
          font-size: 10px;
        }
      }

      &-result {
        --team-size: 30px;
        height: fit-content;
        display: flex;
        justify-content: center;
        padding-bottom: $size-0;

        &-team {
          // flex: 0 0 30%;
          width: 50%;
          min-width: 120px;
          position: relative;
          padding: $size-0 $size-2;
          display: flex;
          align-items: center;
          gap: $size-2;


          &.team-home {
            flex-direction: row-reverse;
            text-align: end;
          }

          &-name {
            position: relative;
            bottom: auto;
            left: auto;
            transform: translateX(0);
            font-size: var(--font-size-xs);
            line-height: 1;
            text-wrap: wrap;
          }

          img {
            max-width: var(--team-size);
            max-height: var(--team-size);
          }

        }

        &-score {
          display: flex;
          align-items: center;
          gap: $size-2;
          padding: $size-0 $size-1;

          position: relative;

          &:after {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            height: 100%;
          }

          &:after {
            z-index: 2;

          }

          span,
          input {
            height: var(--team-size);
            width: var(--team-size);
            max-width: var(--team-size);
            color: $dark;
            background: transparent;
            border: 1px solid $primary;

            border-radius: $size-1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-6;
            padding: var(--size-0);
            user-select: none;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

          }

          input:placeholder-shown {
            background: $white;
            border: 1px solid $gray;
          }
        }
      }

    }

    &-body {
      .logado {
        display: none;
      }
    }

    &.game {

      .card {
        position: relative;

        &-header {
          position: absolute;
          width: 100%;
          background: transparent;
          border: 0px;
          padding: 0;

          .btn {
            position: relative;
            padding: $size-1 $size-4;
            color: transparent;
            font-size: var(--font-size-xs);
            font-weight: bold;

            &:before {
              --minus-size: 16px;
              content: "";

              background-image: url('data:image/svg+xml,%3Csvg id="arrow" viewBox="0 0 16 16" height="24px" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath class="st0" fill="%2bf90003" d="M7.3,10.4l-3.8-3.9c-.3-.3-.3-.8,0-1.1s.8-.3,1.1,0l3.5,3.5,3.5-3.5c.3-.3.8-.3,1.1,0s.3.8,0,1.1l-4,4c-.1.1-.3.3-.6.3s-.6-.2-.8-.4Z"/%3E%3C/svg%3E');
              background-repeat: no-repeat;
              background-size: cover;
              position: absolute;
              right: 1rem;
              top: 50%;
              translate: 0 -50%;
              width: var(--minus-size);
              height: var(--minus-size);
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s ease-in-out;
              rotate: -180deg;
            }

            &.collapsed {

              &:before {
                rotate: 0deg;
              }
            }

          }
        }

        &-body {
          padding: $size-3;
          max-height: calc(100dvh - 350px);
          overflow-y: scroll;
          mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);


          table {
            border-collapse: separate;
            border-spacing: $size-1;

            tr {
              box-shadow: $box-shadow-1;
              border-radius: $size-2;
            }

            td {
              vertical-align: middle;
              text-align: center;
              padding: 0;

              &:nth-child(1) {
                width: 50px;
                max-width: 50px;
              }

              &:nth-child(2) {
                text-align: left;
                font-size: var(--font-size-sm);
              }

              .cravada,
              .saldo,
              .acerto {
                position: relative;
                display: flex;
                justify-content: center;
                font-weight: bold;
                border-radius: $size-2;
                color: $light;

                &:after {
                  content: '';
                  position: absolute;
                  top: -10px;
                  right: -10px;
                  color: $light;
                  width: 20px;
                  height: 20px;
                  background: $primary;
                  font-size: 10px;
                  border-radius: 100px;
                  padding: 2px;
                  font-weight: normal;
                  scale: .8;
                }
              }

              .cravada {

                background: $cravada;

                &:after {
                  content: '+3';
                }
              }

              .saldo {
                background: $saldo;
                // border: 1px solid $saldo;

                &:after {
                  content: '+2';
                }
              }

              .acerto {
                font-weight: normal;
                background: $acerto;
                // border: 1px solid $acerto;

                &:after {
                  content: '+1';
                }
              }
            }
          }
        }
      }

      &.cravada,
      &.saldo,
      &.acerto {
        position: relative;


        &:after {

          content: '';
          position: absolute;
          top: 0;
          left: 0;
          color: $light;
          width: 29px;
          height: 29px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $font-size-xs;
          border-radius: 0 0 8px 0;
          padding: 2px;
          font-weight: bold;
        }


      }

      &.cravada {
        border: 1px solid $cravada;

        input {
          background: $cravada;
          border: 1px solid $cravada;
          color: $light;
        }

        &:after {
          background: $cravada;
          content: '+3';
        }
      }

      &.saldo {
        border: 1px solid $saldo;

        input {
          border: 1px solid $saldo;
          background: $saldo;
          color: $light;
        }

        &:after {
          background: $saldo;
          content: '+2';
        }
      }

      &.acerto {
        border: 1px solid $acerto;

        input {
          border: 1px solid $acerto;
          background: $acerto;
          color: $light;
        }

        &:after {
          font-weight: normal;
          background: $acerto;
          content: '+1';
        }
      }

      &.vivo {
        &:after {
          background: transparent;
          border-right: 1px solid $danger;
            border-bottom: 1px solid $danger;
            color: $danger!important;
        }
        &.cravada {
          input {
            border: 1px solid $cravada;
            color: $cravada;
            background: transparent;
          }
        }
  
        &.saldo {
          input {
            border: 1px solid $saldo;
            color: $saldo;
            background: transparent;
          }
        }
  
        &.acerto {
          input {
            border: 1px solid $acerto;
            color: $acerto;
            background: transparent;
          }
        }

      }
    }
  }

  #arrow {
    rotate: 180deg;
  }

  &.closed {
    #arrow {
      rotate: 0deg;
    }

    #content-space {
      height: 0px !important;
    }



  }

  .selecao {

    &:after {
      right: -2px;
      background: linear-gradient(to right, transparent 0%, $light 80%);
    }

    &:before {
      left: -2px;
      background: linear-gradient(to left, transparent 0%, $light 80%);
    }


    .nav-pills {

      flex-direction: row-reverse;


      .nav-item {

        &:nth-child(1) {
          margin-right: 42px;
        }

        &:nth-last-child(1) {
          margin-left: 42px;
        }
      }

    }
  }

}

.salvando-palpite {
  .navegacao {
    position: relative;
    opacity: .25;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: $primary;
      opacity: .5;
      z-index: 1;
    }
  }
}

.navegacao {
  nav {
    .nav {
      &-link {
        background: transparent !important;
        flex: 1 0;
        border-bottom: 1px solid transparent;
        display: flex;
        justify-content: center;
        transition: var(--transition-2);

        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;

        &.active {
          color: $primary;
          border-bottom: 2px solid $primary !important;
          background: transparent;
          font-weight: 700;
          position: relative;
        }


        &:hover {
          border-bottom: 1px solid $primary;
        }
      }
    }
  }

}

.selecao {
  position: relative;

  /* width */

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 102%;
    z-index: 1;
    pointer-events: none;

    @media (max-width:576px) {
      width: 50px;
    }
  }

  &:after {
    right: -2px;
    background: linear-gradient(to right, transparent 0%, $light 80%);
  }


  .nav-pills {
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: var(--size-2);
    // flex-direction: row-reverse;
    // padding-inline: 42px;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      width: 0;
      height: 0;
    }

    .nav-item {
      text-wrap: nowrap;
    }

    .nav-link {
      background: $light;
      border: 1px solid $medium;
      border-radius: var(--size-2);
      transition: var(--transition-2);
      font-weight: 500;

      &.active {
        border: 1px solid $primary;
        background: $primary;
        position: relative;
      }

      &:hover {
        border: 1px solid $primary;
      }
    }
  }
}