@import 'essencial/root';
@import 'essencial/utilities';


:root {
  --dark: $dark;

}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: $light;
  color: $dark;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: $primary;

  &:hover {
    color: $primary;
  }
}

button {

  &:focus,
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}

:focus,
:focus-visible {
  outline: 1px auto $primary;
}




/* ELEMENTS*/

#menu {

  display: flex;
  justify-content: center;
  align-items: center;


  .container{
    background: $light;
  }

  .navbar {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
  }

  .nav-link {
    color: $dark;

    &:hover {
      color: $primary;
    }

    &.disabled {
      color: rgba(0, 0, 0, .3) !important;
    }
  }

  .nav-space {
    height: 98px;

    @media (max-width:767px) {
      height: 82px;
    }
  }
}

#content {

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background: $light;
    width: 100%;
    border-radius: var(--size-3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);


    @media (max-width:425px) {
      padding: 2rem 1rem;
    }

    .btn {
      width: 100%;
      // background: $dark;
      border: none;
    }
  }

  .pontuacao {


    .circle {
      height: 16px;
      width: 16px;
      border-radius: 20px;
      margin-right: 10px;
    }

  }
}


#content-fixed.fixed-top {
  top: 98px;
  background: $light;
  z-index: 99;

  @media (max-width:767px) {
    top: 82px;
  }
}

#content-space {
  height: 100px;
}

#classificacao {


  .classificacao {
    position: relative;
    height: calc(100dvh - 198px);
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width:767px) {
      height: calc(100dvh - 182px);
    }

    &::-webkit-scrollbar {
      display: none;
    }

  }



  .table {
    // display: inline !important;
    color: $dark;
    border-collapse: separate;
    border-spacing: 0px 10px;

    thead {
      position: sticky;
      top: 0;

      tr {
        background: $light !important;
        box-shadow: -10px 0px 0px $light, 10px 0px 0px $light, 10px -10px 0px $light, -10px -10px 0px $light;
      }

      th {
        position: relative;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (max-width:567px) {
          &:nth-child(n+4):nth-child(-n+7) {
            color: transparent !important;
          }
        }

        &:nth-child(4) {
          @media (max-width:567px) {
            &::after {
              content: "P";
              color: $primary !important;
            }
          }
        }

        &:nth-child(5) {
          @media (max-width:567px) {
            &::after {
              content: "C";
              color: $cravada !important;
            }
          }
        }

        &:nth-child(6) {
          @media (max-width:567px) {
            &::after {
              content: "S";
              color: $saldo !important;
            }
          }
        }

        &:nth-child(7) {
          @media (max-width:567px) {
            &::after {
              content: "A";
              color: $acerto !important;
            }
          }
        }

      }
    }

    tbody {
      max-height: 600px;
      overflow: scroll;

      tr {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: .5rem;

        &:nth-child(1) {
          color: $cravada !important;

        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          color: $saldo !important;
        }

      }


    }

    th,
    td {
      vertical-align: middle;
      text-align: center;




      @media (max-width:410px) {
        padding: $size-2 0.1rem;
        // font-size: var(--font-size-sm);
      }

      &:nth-child(1) {
        width: var(--t-size);
        font-weight: bold;
        padding-right: 0 !important;
        padding-left: $size-2;

      }

      &:nth-child(2) {
        width: var(--t-size);
        padding: 0 !important;
      }

      &:nth-child(3) {
        text-align: left;
        //font-weight: bold;
        color: $dark;
      }

      &:nth-child(4) {
        font-weight: bold;
        color: $primary;

      }

      &:nth-child(5) {
        color: $cravada;
      }

      &:nth-child(6) {
        color: $saldo;
      }

      &:nth-child(7) {
        color: $acerto;
      }

      &:nth-child(n+4):nth-child(-n+7) {
        width: var(--n-size);
        max-width: var(--n-size);
        // display: inline-flex;
        // justify-content: center;

        @media (max-width:576px) {
          max-width: 46px;
          overflow: hidden;
        }

        @media (max-width:410px) {
          max-width: 40px;
        }
      }

    }

  }
}

.navegacao {
  nav {
    .nav {
      &-link {
        background: transparent !important;
        width: 32%;
        border-bottom: 1px solid transparent;
        display: flex;
        justify-content: center;
        transition: var(--transition-2);

        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;

        &.active {
          color: $primary;
          border-bottom: 2px solid $primary !important;
          background: transparent;
          font-weight: 700;
          position: relative;
        }


        &:hover {
          border-bottom: 1px solid $primary;
        }
      }
    }
  }

}

.selecao {
  position: relative;

  /* width */

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, $light 80%);
    pointer-events: none;

    @media (max-width:576px) {
      width: 50px;
    }
  }


  .nav-pills {
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: var(--size-2);

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      width: 0;
      height: 0;
    }

    .nav-item {
      text-wrap: nowrap;
    }

    .nav-link {
      background: $light;
      border: 1px solid $medium;
      border-radius: var(--size-2);
      transition: var(--transition-2);
      font-weight: 500;

      &.active {
        border: 1px solid $primary;
        background: $primary;
        position: relative;
      }

      &:hover {
        border: 1px solid $primary;
      }
    }
  }
}

.card {
  &-game {
    padding: $size-3;
    // padding-bottom: 0;

    &-label{
      font-size: var(--font-size-sm);
    }
    
    &-result {
      --team-size:60px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding-bottom: $size-3;

      &-team {
        // flex: 0 0 30%;
        width: 30%;
        position: relative;
        padding: $size-2;

        &-name {
          position: absolute;
          bottom: calc($size-3 * -1);
          left: 50%;
          transform: translateX(-50%);
          font-size: var(--font-size-xs);
          text-wrap: nowrap;
        }

        img {
          max-width: var(--team-size);
          max-height: var(--team-size);
        }

      }

      &-score {
        display: flex;
        align-items: center;
        gap: $size-3;

        padding: $size-2;

        span {
          height: var(--team-size);
          width: var(--team-size);
          max-width: var(--team-size);
          color: $dark;
          border: 1px solid $primary;
          border-radius: $size-3;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: $font-size-3;
        }
      }
    }

  }

  &.game {
    .card {
      &-header {
        border: 0px;
        background: $medium;
        padding: 0;

        .btn {
          position: relative;
          padding: $size-2 $size-4;
          // color: $primary;
          font-weight: bold;

          &:after,
          &:before {
            --minus-size: 12px;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1,8.39v-2.78h12v2.78H1Z' fill='black'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 1rem;
            top: 50%;
            translate: 0 -50%;
            width: var(--minus-size);
            height: var(--minus-size);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease-in-out;
          }

          &.collapsed {
            &:after {
              rotate: -90deg;
            }

            &:before {
              rotate: -180deg;
            }
          }
        }
      }

      &-body {
        padding: $size-3;
        table {
          td {
            vertical-align: middle;
            text-align: center;
            padding: 0;

            &:nth-child(1) {
              width: 50px;
              max-width: 50px;
            }

            &:nth-child(2) {
              text-align: left;
              font-size: var(--font-size-sm);
            }

            .cravada,
            .saldo,
            .acerto {
              position: relative;
              display: flex;
              justify-content: center;
              font-weight: bold;
              border-radius: $size-2;

              &:after {
                content: '';
                position: absolute;
                top: -10px;
                right: -10px;
                color: $light;
                width: 20px;
                height: 20px;
                background: $primary;
                font-size: 10px;
                border-radius: 100px;
                padding: 2px;
                font-weight: normal;
                scale: .8;
              }
            }

            .cravada {
              color: $light;
              background: $cravada;

              &:after {
                content: '+3';
              }
            }

            .saldo {
              color: $saldo;
              border: 1px solid $saldo;

              &:after {
                content: '+2';
              }
            }

            .acerto {
              font-weight: normal;
              color: $acerto;
              border: 1px solid $acerto;

              &:after {
                content: '+1';
              }
            }
          }
        }
      }
    }
  }
}

select,
input {
  padding: var(--size-2) var(--size-3);
  border-radius: var(--size-2);
  background: transparent;
  border: 1px solid $dark;
  text-align: center;

  &:focus,
  :focus-visible {
    outline: 1px auto $primary;
    ;
    // box-shadow: 0 0 0 0.2rem $primary;
  }

}

footer {

  display: flex;
  justify-content: center;
  align-items: center;

  .primary {
    color: $primary;
  }

  a {
    color: $primary;

    &:hover {
      color: $primary-light;
      text-decoration: none;
    }
  }
}

.loading {
  * {
    transition: var(--transition-2);
  }

  #carregando {
    z-index: 999;
    display: block;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid $primary;
  }

  .skeleton {
    position: relative;
    overflow: hidden;
    border: 0 !important;
    color: transparent !important;
    border-radius: $size-2 !important;

    &.btn,
    &.nav-link {
      background-color: $medium !important;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;
      border-radius: $size-2;

    }

    &:before {
      z-index: 1;
      background-color: $medium !important;
    }

    &:after {
      z-index: 2;
      background-image: linear-gradient(120deg, transparent 25%, rgba(255, 255, 255, 0.6) 50%, transparent 75%);
      animation: shimmer 1.5s infinite;
    }
  }


  @keyframes shimmer {
    0% {
      left: -150%;
    }

    100% {
      left: 150%;
    }
  }
}


#carregando {
  display: none;
}

.preloader {
  background-color: #232323;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;

  .preview {
    transform: scale(1.5);
  }

  span {
    background: #e1e1e1;
    border-radius: 100%;
    height: 60px;
    width: 200px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin: auto;
    -webkit-animation: mymove 1.5s infinite linear;
    animation: mymove 1.5s infinite linear;

    img {
      margin-top: 0px;
    }

    p {
      color: #5f5f5f;

    }
  }

  .content-preloader {
    position: relative;
    text-align: center;
    margin-top: 15%;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .icone {
    position: absolute;
    top: 28px;
    left: 24px;
    transform: scale(2);
  }
}

.spinner {
  --spinner-size: 5;
  --line-color: #06DDBB;
  --line-alpha: 1;
  --ring-color: #f1f1f1;
  --ring-alpha: 1;
  --ring-size: 2.4;
  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;

  .line {
    fill: none;
    stroke: var(--line-color);
    stroke-width: var(--ring-size);
    opacity: var(--line-alpha);
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate3d(0, 0, 1, 0deg);
    animation: 2156ms spinner-arc ease-in-out infinite, 1829ms spinner-rotate linear infinite;
  }

  .ring {
    fill: none;
    stroke: var(--ring-color);
    stroke-width: var(--ring-size);
    opacity: var(--ring-alpha);
  }
}

@keyframes spinner-rotate {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes spinner-arc {
  from {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }

  to {
    stroke-dasharray: 100 150;
    stroke-dashoffset: -140;
  }
}

@media (max-width: 500px) {
  .content-preloader {
    margin-top: 70%
  }
}