@charset "UTF-8";
:root {
  --turquoise-50: #effefa;
  --turquoise-100: #c8fff0;
  --turquoise-200: #91fee4;
  --turquoise-300: #52f6d5;
  --turquoise-400: #1ee3c0;
  --turquoise-500: #06ddbb;
  --turquoise-600: #01a08a;
  --turquoise-700: #067f70;
  --turquoise-800: #0a655b;
  --turquoise-900: #0e534c;
  --turquoise-950: #003330;
  --star-dust-50: #f0f0f0;
  --star-dust-100: #e5e5e5;
  --star-dust-200: #d1d1d1;
  --star-dust-300: #b0b0b0;
  --star-dust-400: #999999;
  --star-dust-500: #6d6d6d;
  --star-dust-600: #5d5d5d;
  --star-dust-700: #4f4f4f;
  --star-dust-800: #454545;
  --star-dust-900: #3d3d3d;
  --star-dust-950: #232323;
  --pizza-50: #fefee8;
  --pizza-100: #ffffc2;
  --pizza-200: #fffb88;
  --pizza-300: #fff243;
  --pizza-400: #ffe110;
  --pizza-500: #efc703;
  --pizza-600: #bf9000;
  --pizza-700: #a46f04;
  --pizza-800: #87560c;
  --pizza-900: #734710;
  --pizza-950: #432505;
  --bilbao-50: #f1fbea;
  --bilbao-100: #e0f6d1;
  --bilbao-200: #c3efa7;
  --bilbao-300: #9de274;
  --bilbao-400: #7ad249;
  --bilbao-500: #5bb72b;
  --bilbao-600: #43921e;
  --bilbao-700: #38761d;
  --bilbao-800: #2e591b;
  --bilbao-900: #284c1b;
  --bilbao-950: #12290a;
  --blue-dianne-50: #ecfffe;
  --blue-dianne-100: #cefffe;
  --blue-dianne-200: #a4fcfd;
  --blue-dianne-300: #65f8fb;
  --blue-dianne-400: #1feaf1;
  --blue-dianne-500: #03ccd7;
  --blue-dianne-600: #05a4b5;
  --blue-dianne-700: #0c8292;
  --blue-dianne-800: #136877;
  --blue-dianne-900: #134f5c;
  --blue-dianne-950: #073945;
  --punch-50: #fff1f1;
  --punch-100: #ffe0e0;
  --punch-200: #ffc7c7;
  --punch-300: #ffa0a0;
  --punch-400: #ff6969;
  --punch-500: #f93a3a;
  --punch-600: #e21818;
  --punch-700: #c21313;
  --punch-800: #a01414;
  --punch-900: #851717;
  --punch-950: #490606;
  --color-brand-main: var(--persian-green-600);
  --color-brand-opposite: var(--victoria-700);
  --color-brand-complementary: var(--lima-500);
  --color-brand-supplementary: var(--rio-grande-600);
  --color-brand-dusky: var(--cyprus-800);
  --color-denotative-success-darkest: var(--lima-800);
  --color-denotative-success-action: var(--lima-700);
  --color-denotative-success-default: var(--lima-500);
  --color-denotative-success-active: var(--lima-200);
  --color-denotative-success-lightest: var(--lima-100);
  --color-denotative-info-darkest: var(--cerulean-800);
  --color-denotative-info-action: var(--cerulean-700);
  --color-denotative-info-default: var(--cerulean-600);
  --color-denotative-info-active: var(--cerulean-200);
  --color-denotative-info-lightest: var(--cerulean-50);
  --color-denotative-warning-darkest: var(--sunshade-800);
  --color-denotative-warning-action: var(--sunshade-600);
  --color-denotative-warning-default: var(--sunshade-400);
  --color-denotative-warning-active: var(--sunshade-200);
  --color-denotative-warning-lightest: var(--sunshade-50);
  --color-denotative-error-darkest: var(--violet-red-800);
  --color-denotative-error-action: var(--violet-red-700);
  --color-denotative-error-default: var(--violet-red-500);
  --color-denotative-error-active: var(--violet-red-200);
  --color-denotative-error-lightest: var(--violet-red-50);
  --color-function-disabled-background: var(--mine-shaft-100);
  --color-function-disabled-text: var(--mine-shaft-400);
  --color-function-disabled-border: var(--mine-shaft-300);
  --color-function-primary-darkest: var(--persian-green-800);
  --color-function-primary-action: var(--persian-green-600);
  --color-function-primary-default: var(--persian-green-700);
  --color-function-primary-active: var(--persian-green-500);
  --color-function-primary-lightest: var(--persian-green-50);
  --color-function-secondary-darkest: var(--victoria-800);
  --color-function-secondary-action: var(--victoria-600);
  --color-function-secondary-default: var(--victoria-700);
  --color-function-secondary-active: var(--victoria-500);
  --color-function-secondary-lightest: var(--victoria-50);
  --color-function-tertiary-darkest: var(--cyprus-800);
  --color-function-tertiary-action: var(--cyprus-600);
  --color-function-tertiary-default: var(--cyprus-700);
  --color-function-tertiary-active: var(--persian-green-500);
  --color-function-tertiary-lightest: var(--persian-green-400);
  --color-surface-text-default-low: var(--mine-shaft-400);
  --color-surface-text-default-medium: var(--mine-shaft-600);
  --color-surface-text-default-high: var(--cyprus-800);
  --color-surface-text-highlight-low: var(--athens-gray-50);
  --color-surface-text-highlight-medium: var(--cyprus-600);
  --color-surface-text-highlight-high: var(--persian-green-600);
  --color-surface-background-low: var(--mine-shaft-50);
  --color-surface-background-medium: var(--athens-gray-100);
  --color-surface-background-high: var(--cyprus-800);
  --color-surface-stroke-low: var(--mine-shaft-100);
  --color-surface-stroke-medium: var(--athens-gray-200);
  --color-surface-stroke-high: var(--athens-gray-300);
  --color-surface-support-1-low: var(--mine-shaft-100);
  --color-surface-support-1-medium: var(--cyprus-700);
  --color-surface-support-1-high: var(--cyprus-800);
  --color-surface-support-2-low: var(--athens-gray-50);
  --color-surface-support-2-medium: var(--athens-gray-400);
  --color-surface-support-2-high: var(--athens-gray-900);
  --color-surface-support-3-low: var(--mine-shaft-50);
  --color-surface-support-3-medium: var(--mine-shaft-400);
  --color-surface-support-3-high: var(--mine-shaft-900);
  --color-surface-support-4-low: var(--persian-green-50);
  --color-surface-support-4-medium: var(--persian-green-600);
  --color-surface-support-4-high: var(--persian-green-950);
  --color-surface-support-5-low: var(--lima-50);
  --color-surface-support-5-medium: var(--lima-600);
  --color-surface-support-5-high: var(--lima-950);
  --color-surface-support-6-low: var(--rio-grande-50);
  --color-surface-support-6-medium: var(--rio-grande-600);
  --color-surface-support-6-high: var(--rio-grande-950);
  --color-surface-support-7-low: var(--victoria-50);
  --color-surface-support-7-medium: var(--victoria-400);
  --color-surface-support-7-high: var(--victoria-950);
  --color-surface-balance-income-low: var(--lima-50);
  --color-surface-balance-income-medium: var(--lima-600);
  --color-surface-balance-debit-low: var(--violet-red-50);
  --color-surface-balance-debit-medium: var(--violet-red-600);
  --size-0: 0rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 3rem;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.18,1240,18,1.22285,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step Xsmall: 11.6px → 13px */
  --font-size-xs: clamp(0.725rem, 0.70rem + 0.06vw, 0.8125rem);
  /* Step Small: 13px → 15px */
  --font-size-sm: clamp(0.8125rem, 0.82rem + 0.13vw, 0.9375rem);
  /* Step Base/paragrafo/body: 16px → 18px */
  --font-size-bs: clamp(1rem, 0.95rem + 0.22vw, 1.125rem);
  /* Step h6: 19px → 22px */
  --font-size-6: clamp(1.18rem, 1.1875rem + 0.34vw, 1.375rem);
  /* Step h5: 23px → 27px */
  --font-size-5: clamp(1.4375rem, 1.3rem + 0.5vw, 1.6875rem);
  /* Step h4: 27px → 33px */
  --font-size-4: clamp(1.6875rem, 1.5rem + 0.72vw, 2.0625rem);
  /* Step h3: 32px → 40px */
  --font-size-3: clamp(2rem, 1.74rem + 1vw, 2.5rem);
  /* Step h2: 37px → 50px */
  --font-size-2: clamp(2.3125rem, 2rem + 1.37vw, 3.125rem);
  /* Step h1: 45px → 60px */
  --font-size-1: clamp(2.8125rem, 2.3rem + 1.85vw, 3.75rem);
  /* Step display lg: 52px → 75px */
  --font-size-lg: clamp(3.25rem, 2.7rem + 2.46vw, 4.6875rem);
  /* Step display xl: 60px → 90px */
  --font-size-xl: clamp(3.75rem, 3.1rem + 3.25vw, 5.625rem);
  --font-size-base: var(--font-size-bs);
  --font-size-minor: var(--font-size-xs);
  --font-size-small: var(--font-size-sm);
  --font-sans: "Sicoob sans",
  "Asap",
  sans-serif;
  --font-script: "Sicoob script",
  "Pacifico",
  cursive;
  --line-height-1: 100%;
  --line-height-2: 120%;
  --line-height-3: 150%;
  --line-height-4: 200%;
  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);
  --box-shadow-xs: 0 2px 4px rgba(128, 128, 128, 0.2);
  --box-shadow-sm: 0 2px 8px rgba(128, 128, 128, 0.2);
}

:root {
  --dark: $dark;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #E5E5E5;
  color: #232323;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #1CB19C;
}
a:hover {
  color: #1CB19C;
}

:focus-visible {
  outline: 1px auto #1CB19C;
}

.btn-click-sm {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn-click-sm:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-click-sm:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.btn-click-sm:focus, .btn-click-sm:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.btn-click {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn-click:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-click:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.btn-click:focus, .btn-click:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.btn-primary {
  background-color: #1CB19C;
  border: 2px solid #1CB19C;
  color: #FFF;
}
.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #1CB19C;
  color: #1CB19C;
}
.btn-primary:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #1CB19C;
  border: 2px solid #1CB19C;
  color: #232323;
}
.btn-outline-primary {
  border: 1px solid #1CB19C;
  color: #1CB19C;
}
.btn-outline-primary:hover {
  background-color: #1CB19C;
  border: 1px solid #1CB19C;
  color: #FFF;
}
.btn-outline-primary:active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #1CB19C;
  border: 1px solid #1CB19C;
  color: #232323;
}

.round-05 {
  border-radius: 0.5rem;
}
.round-1 {
  border-radius: 1rem;
}

.bg-cravada {
  background-color: #BF9000 !important;
}
.bg-saldo {
  background-color: #38761D !important;
}
.bg-acerto {
  background-color: #134F5C !important;
}
.bg-light {
  background-color: #E5E5E5 !important;
}
.bg-dark {
  background-color: #232323 !important;
}
.bg-green {
  background-color: #06DDBB !important;
}
.bg-darkgreen {
  background-color: #1CB19C !important;
}

.c-cravada {
  color: #BF9000 !important;
}
.c-saldo {
  color: #38761D !important;
}
.c-acerto {
  color: #134F5C !important;
}
.c-light {
  color: #E5E5E5 !important;
}
.c-dark {
  color: #232323 !important;
}
.c-green {
  color: #06DDBB !important;
}
.c-darkgreen {
  color: #1CB19C !important;
}

/* ELEMENTS*/
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .navbar {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
#menu .nav-link {
  color: #232323;
}
#menu .nav-link:hover {
  color: #1CB19C;
}
#menu .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}
#menu .nav-space {
  height: 98px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .card {
  background: #E5E5E5;
  width: 100%;
  max-width: 500px;
  padding: 3rem 2rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 425px) {
  #content .card {
    padding: 2rem 1rem;
  }
}
#content .card .btn {
  width: 100%;
  background: #232323;
  border: none;
}
#content .pontuacao .circle {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  margin-right: 10px;
}

#classificacao #menu .container {
  background: #E5E5E5;
  z-index: 999;
}
#classificacao #content-fixed.fixed-top {
  top: 98px;
  background: #E5E5E5;
  z-index: 99;
}
@media (max-width: 767px) {
  #classificacao #content-fixed.fixed-top {
    top: 82px;
  }
}
#classificacao #content-space {
  height: 171px;
}
#classificacao-top nav .nav-link {
  background: transparent !important;
  width: 32%;
  border-bottom: 1px solid transparent;
  display: flex;
  justify-content: center;
  transition: var(--transition-2);
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
#classificacao-top nav .nav-link.active {
  color: #1CB19C;
  border-bottom: 2px solid #1CB19C !important;
  background: transparent;
  font-weight: 700;
  position: relative;
}
#classificacao-top nav .nav-link:hover {
  border-bottom: 1px solid #1CB19C;
}
#classificacao .tab-pane {
  position: relative;
  /* width */
}
#classificacao .tab-pane:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, #E5E5E5 80%);
  pointer-events: none;
}
@media (max-width: 576px) {
  #classificacao .tab-pane:after {
    width: 50px;
  }
}
#classificacao .tab-pane .nav-pills {
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: var(--size-2);
}
#classificacao .tab-pane .nav-pills::-webkit-scrollbar, #classificacao .tab-pane .nav-pills::-webkit-scrollbar-track, #classificacao .tab-pane .nav-pills::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}
#classificacao .tab-pane .nav-pills .nav-item {
  text-wrap: nowrap;
}
#classificacao .tab-pane .nav-pills .nav-link {
  border: 1px solid transparent;
  border-radius: var(--size-2);
  transition: var(--transition-2);
  font-weight: 500;
}
#classificacao .tab-pane .nav-pills .nav-link.active {
  border: 1px solid #1CB19C;
  background: #1CB19C;
  position: relative;
}
#classificacao .tab-pane .nav-pills .nav-link:hover {
  border: 1px solid #1CB19C;
}
#classificacao .table {
  color: #232323;
  border-collapse: separate;
  border-spacing: 0px 10px;
}
#classificacao .table thead tr {
  background: #E5E5E5 !important;
  box-shadow: -10px 0px 0px #E5E5E5, 10px 0px 0px #E5E5E5, 10px -10px 0px #E5E5E5, -10px -10px 0px #E5E5E5;
}
#classificacao .table tbody {
  max-height: 600px;
  overflow: scroll;
}
#classificacao .table tbody tr {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
#classificacao .table tbody tr:nth-child(1) {
  color: #BF9000 !important;
}
#classificacao .table tbody tr:nth-child(2), #classificacao .table tbody tr:nth-child(3), #classificacao .table tbody tr:nth-child(4) {
  color: #38761D !important;
}
#classificacao .table th,
#classificacao .table td {
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 410px) {
  #classificacao .table th,
  #classificacao .table td {
    padding: 0.6rem;
  }
}
@media (max-width: 360px) {
  #classificacao .table th,
  #classificacao .table td {
    padding: 0.6rem 0.5rem;
  }
}
#classificacao .table th:nth-child(1),
#classificacao .table td:nth-child(1) {
  padding-right: 0 !important;
}
#classificacao .table th:nth-child(2),
#classificacao .table td:nth-child(2) {
  font-weight: bold;
}
#classificacao .table th:nth-child(3),
#classificacao .table td:nth-child(3) {
  text-align: left;
  color: #232323 !important;
}
#classificacao .table th:nth-child(4),
#classificacao .table td:nth-child(4) {
  font-weight: bold;
  color: #1CB19C !important;
}
#classificacao .table th:nth-child(5),
#classificacao .table td:nth-child(5) {
  color: #BF9000 !important;
}
#classificacao .table th:nth-child(6),
#classificacao .table td:nth-child(6) {
  color: #38761D !important;
}
#classificacao .table th:nth-child(7),
#classificacao .table td:nth-child(7) {
  color: #134F5C !important;
}
@media (max-width: 576px) {
  #classificacao .table th:nth-child(n+4):nth-child(-n+7),
  #classificacao .table td:nth-child(n+4):nth-child(-n+7) {
    max-width: 46px;
    overflow: hidden;
  }
}
@media (max-width: 410px) {
  #classificacao .table th:nth-child(n+4):nth-child(-n+7),
  #classificacao .table td:nth-child(n+4):nth-child(-n+7) {
    max-width: 43px;
  }
}

select,
input {
  padding: var(--size-2) var(--size-3);
  border-radius: var(--size-2);
  background: transparent;
  border: 1px solid #232323;
  text-align: center;
}
select:focus,
select :focus-visible,
input:focus,
input :focus-visible {
  outline: 1px auto #1CB19C;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .darkgreen {
  color: #1CB19C;
}
footer a {
  color: #1CB19C;
}
footer a:hover {
  color: #06DDBB;
  text-decoration: none;
}

#carregando {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #1CB19C;
}

.preloader {
  background-color: #232323;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
.preloader .preview {
  transform: scale(1.5);
}
.preloader span {
  background: #e1e1e1;
  border-radius: 100%;
  height: 60px;
  width: 200px;
  line-height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  margin: auto;
  animation: mymove 1.5s infinite linear;
}
.preloader span img {
  margin-top: 0px;
}
.preloader span p {
  color: #5f5f5f;
}
.preloader .content-preloader {
  position: relative;
  text-align: center;
  margin-top: 15%;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.preloader .icone {
  position: absolute;
  top: 28px;
  left: 24px;
  transform: scale(2);
}

.spinner {
  --spinner-size: 5;
  --line-color: #06DDBB;
  --line-alpha: 1;
  --ring-color: #f1f1f1;
  --ring-alpha: 1;
  --ring-size: 2.4;
  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.spinner .line {
  fill: none;
  stroke: var(--line-color);
  stroke-width: var(--ring-size);
  opacity: var(--line-alpha);
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate3d(0, 0, 1, 0deg);
  animation: 2156ms spinner-arc ease-in-out infinite, 1829ms spinner-rotate linear infinite;
}
.spinner .ring {
  fill: none;
  stroke: var(--ring-color);
  stroke-width: var(--ring-size);
  opacity: var(--ring-alpha);
}

@keyframes spinner-rotate {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes spinner-arc {
  from {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 100 150;
    stroke-dashoffset: -140;
  }
}
@media (max-width: 500px) {
  .content-preloader {
    margin-top: 70%;
  }
}/*# sourceMappingURL=main.css.map */