@import 'essencial/utilities';


:root {
  --dark: $dark;

}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: $light;
  color: $dark;
  font-family: 'Ubuntu', sans-serif;
  text-wrap: balance;

  @media (max-width:992px) {
    font-size: $font-size-sm;
  }
}

* {
  transition: var(--transition-1);
}

.navbar-toggler{
  padding: var(--size-2);
  height: calc(24px + var(--size-2) + var(--size-2));
  width: calc(24px + var(--size-2) + var(--size-2));

  img{
    height: 24px;
  }

  &.logado{
    padding: var(--size-0);
    img{
      height: 38px;
    }
  }
}

a {
  color: $primary;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

button {

  &:focus,
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}

:focus,
:focus-visible {
  outline: 1px auto $primary;
}


select,
input {
  padding: var(--size-2) var(--size-3);
  border-radius: var(--size-2);
  background: transparent;
  border: 1px solid $dark;
  text-align: center;

  &:focus,
  :focus-visible {
    outline: 1px auto $primary;
    ;
    // box-shadow: 0 0 0 0.2rem $primary;
  }

}

tr.pago{
  td{
    &:nth-child(3){
      text-wrap-mode: nowrap;
      position: relative;
      
      &::after{
        content: '$';
        // position: absolute;
        width: 22px;
        height: 22px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: $size-1;

        font-size: $font-size-xs;
        font-weight: bold;
        border-radius: $size-4;
        background-color: $cravada;
        color: $light;
        scale: .8;
      }
    }
  }
}

footer {

  display: flex;
  justify-content: center;
  align-items: center;

  .primary {
    color: $primary;
  }

  a {
    color: $primary;

    &:hover {
      color: $primary-light;
      text-decoration: none;
    }
  }

  @media (max-width:992px) {
    color: transparent;
  }
}

.loading {
  * {
    transition: var(--transition-2);
  }

  .skeleton {
    position: relative;
    overflow: hidden!important;
    border: 0 !important;
    color: transparent !important;
    border-radius: $size-2 !important;

    &.btn,
    &.nav-link {
      background-color: $medium !important;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;
      border-radius: $size-2;

    }

    &:before {
      z-index: 1;
      background-color: $medium !important;
    }

    &:after {
      z-index: 2;
      background-image: linear-gradient(120deg, transparent 25%, rgba(255, 255, 255, 0.6) 50%, transparent 75%);
      animation: shimmer 1.5s infinite;
    }
  }


  @keyframes shimmer {
    0% {
      left: -150%;
    }

    100% {
      left: 150%;
    }
  }
}

.atualizando{
  #carregando {
    z-index: 999;
    display: block;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid $primary;
    width: calc(100% - 32px);

    &.erro, &.success{
      svg{
        width:32px;
        height:32px;
      }
    }
    &.erro{
      border: 1px solid $danger;
      fill: $danger;
    }
    &.success{
      border: 1px solid $cravada;
      fill: $cravada;
    }

    &-text{
      color: $dark;
    }
    @media (max-width:992px) {
      bottom: calc(1rem + 70px);
    }
  }
}

#carregando {
  display: none;
}

.preloader {
  background-color: #232323;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;

  .preview {
    transform: scale(1.5);
  }

  span {
    background: #e1e1e1;
    border-radius: 100%;
    height: 60px;
    width: 200px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin: auto;
    -webkit-animation: mymove 1.5s infinite linear;
    animation: mymove 1.5s infinite linear;

    img {
      margin-top: 0px;
    }

    p {
      color: #5f5f5f;

    }
  }

  .content-preloader {
    position: relative;
    text-align: center;
    margin-top: 15%;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .icone {
    position: absolute;
    top: 28px;
    left: 24px;
    transform: scale(2);
  }
}

.spinner {
  --spinner-size: 5;
  --line-color: #06DDBB;
  --line-alpha: 1;
  --ring-color: #f1f1f1;
  --ring-alpha: 1;
  --ring-size: 2.4;
  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;

  .line {
    fill: none;
    stroke: var(--line-color);
    stroke-width: var(--ring-size);
    opacity: var(--line-alpha);
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate3d(0, 0, 1, 0deg);
    animation: 2156ms spinner-arc ease-in-out infinite, 1829ms spinner-rotate linear infinite;
  }

  .ring {
    fill: none;
    stroke: var(--ring-color);
    stroke-width: var(--ring-size);
    opacity: var(--ring-alpha);
  }
}

@keyframes spinner-rotate {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes spinner-arc {
  from {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }

  to {
    stroke-dasharray: 100 150;
    stroke-dashoffset: -140;
  }
}

@media (max-width: 500px) {
  .content-preloader {
    margin-top: 70%
  }
}

.fixed-top{
  z-index: 1000;
}


/* ELEMENTS*/
.manutencao{
  background: $light;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

#menu {

  display: flex;
  justify-content: center;
  align-items: center;


  .container {
    background: $light;
  }

  .navbar {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);

    @media (max-width:992px) {

      &-collapse {
        display: flex !important;
        position: fixed;
        bottom: .25rem;
        left: 0;
        right: 0;

        .navbar-nav {
          flex-direction: row;
          padding: .5rem;
          background: $light;
          box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
          width: calc(100% - 2rem);
          max-width: 690px;
          justify-content: space-between;
        }

      }
    }
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    color: $dark;
    fill: $dark;
    padding-inline: .5rem;


    @media (max-width:992px) {
      flex-direction: column;
      font-size: .65rem;
      padding: .25rem;
    }

    &:hover {
      color: $primary;
      fill: $primary;
    }

    &.active {
      color: $light !important;
      fill: $light !important;
      font-weight: bold;
      background: var(--turquoise-600);
      border-radius: .5rem;

      img {
        filter: invert(1);
      }
    }

    &.disabled {
      color: rgba(0, 0, 0, .3) !important;
    }
  }

  .nav-space {
    height: 98px;

    @media (max-width:767px) {
      height: 74px;
    }
  }
}

#content {

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background: $light;
    width: 100%;
    border-radius: var(--size-3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);


    @media (max-width:425px) {
      padding: 2rem 1rem;
    }

    .btn {
      width: 100%;
      // background: $dark;
      border: none;
    }
  }

  .pontuacao {


    .circle {
      height: 16px;
      width: 16px;
      border-radius: 20px;
      margin-right: 10px;
    }

  }
}

#regras {

  .accordion {

    &-item,
    &-body {
      padding: .5rem;
    }

    &-button {
      position: relative;
      color: $primary;
      padding-right: 2.5rem;

      &:before {
        --minus-size: 16px;
        content: "";

        background-image: url('data:image/svg+xml,%3Csvg id="arrow" viewBox="0 0 16 16" height="24px" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath class="st0" fill="%23232323" d="M7.3,10.4l-3.8-3.9c-.3-.3-.3-.8,0-1.1s.8-.3,1.1,0l3.5,3.5,3.5-3.5c.3-.3.8-.3,1.1,0s.3.8,0,1.1l-4,4c-.1.1-.3.3-.6.3s-.6-.2-.8-.4Z"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 1rem;
        top: 50%;
        translate: 0 -50%;
        width: var(--minus-size);
        height: var(--minus-size);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        rotate: -180deg;
      }

      &.collapsed {
        color: $dark;

        &:before {
          rotate: 0deg;
        }
      }
    }


  }
}

#content-fixed.fixed-top {
  top: 98px;
  background: $light;
  z-index: 99;

  @media (max-width:767px) {
    top: 74px;
  }
}

#content-space {
  height: 104px;
}

#classificacao {

  #content-space {
    height: 56px;
  }

  .classificacao {
    position: relative;
    height: calc(100dvh - 198px);
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width:767px) {
      height: calc(100dvh - 182px);
    }

    &::-webkit-scrollbar {
      display: none;
    }

  }

  #classificacaoA {
    tbody {
      tr {
        &:nth-child(1) {

          color: $cravada !important;

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $cravada !important;
              }
            }
          }


        }

        &:nth-last-child(2) {
          color: $danger-dark !important;

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $danger-dark !important;
              }
            }
          }
        }

        &:nth-last-child(1),
        &:nth-child(n+8) {
          color: $danger !important;

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $danger !important;
              }
            }
          }
        }
      }
    }
  }

  #classificacaoB {
    tbody {
      tr {
        &:nth-child(1) {

          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $primary !important;
              }
            }
          }

        }

        &:nth-child(2) {

          td {
            &:nth-child(1) {
              color: $dark !important;

              &:after {
                background: $primary-light !important;
              }
            }
          }

        }

      }
    }
  }

  .table {
    // display: inline !important;
    color: $dark;
    border-collapse: separate;
    border-spacing: 0px 10px;

    thead {
      position: sticky;
      top: 0;

      tr {
        background: $light !important;
        box-shadow: -10px 0px 0px $light, 10px 0px 0px $light, 10px -10px 0px $light, -10px -10px 0px $light;
      }

      th {
        position: relative;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (max-width:567px) {
          &:nth-child(n+4):nth-child(-n+7) {
            color: transparent !important;
          }
        }

        &:nth-child(4) {
          @media (max-width:567px) {
            &::after {
              content: "P";
              color: $primary !important;
            }
          }
        }

        &:nth-child(5) {
          @media (max-width:567px) {
            &::after {
              content: "C";
              color: $cravada !important;
            }
          }
        }

        &:nth-child(6) {
          @media (max-width:567px) {
            &::after {
              content: "S";
              color: $saldo !important;
            }
          }
        }

        &:nth-child(7) {
          @media (max-width:567px) {
            &::after {
              content: "A";
              color: $acerto !important;
            }
          }
        }

      }
    }

    tbody {
      max-height: 600px;
      overflow: scroll;

      tr {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: .5rem;

        td {
          line-height: $line-height-tight;

          &:nth-child(1) {
            position: relative;

            @media (max-width:410px) {
              font-size: $font-size-xs;
            }

            &:after {
              content: "";
              background: $medium !important;
              position: absolute;
              top: calc(50%);
              left: calc(50%);
              translate: -50% -50%;
              width: $size-xxs;
              height: $size-xxs;
              border-radius: $size-quarck;
              z-index: -1;

              @media (max-width:410px) {
                // border-radius: calc($size-nano - 2px);
                // width: 22px;
                // height: 22px;
              }
            }
          }
        }


        

      }


    }

    th,
    td {
      vertical-align: middle;
      text-align: center;




      @media (max-width:410px) {
        // padding: $size-2 0.1rem;
        // font-size: var(--font-size-sm);
      }

      &:nth-child(1) {
        width: var(--t-size);
        font-weight: bold;
        // padding: $size-2;
        // padding-right: 0 !important;
        // padding-left: $size-2;

      }

      &:nth-child(2) {
        width: var(--t-size);
        padding: 0 !important;
      }

      &:nth-child(3) {
        text-align: left;
        //font-weight: bold;
        color: $dark;
        padding: .75rem .25rem;
      }

      &:nth-child(4) {
        font-weight: bold;
        color: $primary;

      }

      &:nth-child(5) {
        color: $cravada;
      }

      &:nth-child(6) {
        color: $saldo;
      }

      &:nth-child(7) {
        color: $acerto;
      }

      &:nth-child(n+4):nth-child(-n+7) {
        width: var(--n-size);
        max-width: var(--n-size);
        // display: inline-flex;
        // justify-content: center;

        @media (max-width:576px) {
          max-width: 46px;
          overflow: hidden;
        }

        @media (max-width:410px) {
          max-width: 40px;
        }
      }

    }

  }
}

#copa {
  .navegacao {

    nav {

      .nav-link {
        width: 25%;

        &.final {
          &.active {
            color: $cravada;
            border-bottom: 2px solid $cravada !important;
          }
        }
      }
    }
  }

  .selecao {

    &:after,
    &:before {
      display: none;
    }

    &.vencedor {

      tbody {
        tr {
          &:nth-child(1) {
            outline: 2px solid $primary;
            background: $primary;

            td {
                color: $light !important;
              
            }
          }
        }
      }

      &#nav-final {
        tbody {
          tr {
            &:nth-child(1) {
              outline: 2px solid $cravada;
              background: $cravada;

              td {
                  color: $light !important;
              }
            }
          }
        }
      }
    }

    &.andamento {

      tbody {
        tr {
          &:nth-child(1) {
            outline: 2px solid $primary;
            // background: $primary;

            td {

              &:nth-child(3),
              &:nth-child(4) {
                //  color: $light!important;
              }
            }
          }
        }
      }

      &#nav-final {
        tbody {
          tr {
            &:nth-child(1) {
              outline: 2px solid $cravada;
              // background: $cravada;

              td {

                &:nth-child(3),
                &:nth-child(4) {
                  //  color: $dark!important;
                }
              }
            }
          }
        }
      }
    }

    .nav-link {
      &.final {
        border: 1px solid $cravada !important;
      }
    }
  }

  #content-space {
    height: 56px;
  }

  .table {
    // display: inline !important;
    color: $dark;
    border-collapse: separate;
    border-spacing: 0px 10px;
    margin: 0;

    thead {
      position: sticky;
      top: 0;

      tr {
        background: $light !important;
        box-shadow: -10px 0px 0px $light, 10px 0px 0px $light, 10px -10px 0px $light, -10px -10px 0px $light;
      }

      th {
        position: relative;
        padding-block: 0.25rem !important;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (max-width:567px) {
          &:nth-child(n+4):nth-child(-n+7) {
            color: transparent !important;
          }
        }

        &:nth-child(4) {
          @media (max-width:567px) {
            &::after {
              content: "P";
              color: $primary !important;
            }
          }
        }

        &:nth-child(5) {
          @media (max-width:567px) {
            &::after {
              content: "C";
              color: $cravada !important;
            }
          }
        }

        &:nth-child(6) {
          @media (max-width:567px) {
            &::after {
              content: "S";
              color: $saldo !important;
            }
          }
        }

        &:nth-child(7) {
          @media (max-width:567px) {
            &::after {
              content: "A";
              color: $acerto !important;
            }
          }
        }

      }
    }

    tbody {
      max-height: 600px;
      overflow: scroll;

      tr {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: $size-2;

        td {
          line-height: $line-height-tight;
          border: 0;

          &:nth-child(1) {
            position: relative;
            border-radius: $size-2 0 0 $size-2;

            @media (max-width:410px) {
              font-size: $font-size-xs;
            }

            &:after {
              content: "";
              position: absolute;
              top: calc(50%);
              left: calc(50%);
              translate: -50% -50%;
              width: $size-xxs;
              height: $size-xxs;
              border-radius: $size-quarck;
              z-index: -1;

              @media (max-width:410px) {
                // border-radius: calc($size-nano - 2px);
                // width: 22px;
                // height: 22px;
              }
            }
          }

          &:nth-last-child(1) {
            border-radius: 0 $size-2 $size-2 0;
          }
        }

        &:nth-child(1) {
          color: $cravada !important;


          td {
            &:nth-child(1) {
              color: $light !important;

              &:after {
                background: $primary !important;
              }
            }
          }


        }

        &:nth-child(2) {
          color: $saldo !important;

          td {
            &:nth-child(1) {
              color: $dark !important;

              &:after {
                // background: $saldo !important;
              }
            }
          }
        }

      }


    }

    th,
    td {
      vertical-align: middle;
      text-align: center;


      &:nth-child(1) {
        width: var(--t-size);
        font-weight: bold;

      }

      &:nth-child(2) {
        width: var(--t-size);
        padding: 0 !important;
      }

      &:nth-child(3) {
        text-align: left;
        //font-weight: bold;
        color: $dark;
        padding: .75rem .25rem;
      }

      &:nth-child(4) {
        font-weight: bold;
        color: $primary;

      }

      &:nth-child(5) {
        color: $cravada;
      }

      &:nth-child(6) {
        color: $saldo;
      }

      &:nth-child(7) {
        color: $acerto;
      }

      &:nth-child(n+4):nth-child(-n+7) {
        width: var(--n-size);
        max-width: var(--n-size);
        // display: inline-flex;
        // justify-content: center;

        @media (max-width:576px) {
          max-width: 46px;
          overflow: hidden;
        }

        @media (max-width:410px) {
          max-width: 40px;
        }
      }

    }

  }

}

#jogos {

  .accordion {
    gap: $size-3;
  }

  .card {

    * {
      transition: var(--transition-1);
    }

    &-game {
      padding: $size-3;
      gap: $size-3;
      // padding-bottom: 0;

      &-label {
        font-size: var(--font-size-sm);
      }

      &-result {
        --team-size: 60px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding-bottom: $size-3;

        &-team {
          // flex: 0 0 30%;
          width: 30%;
          position: relative;
          padding: $size-2;
          text-align: center;

          &-name {
            position: absolute;
            bottom: calc($size-3 * -1);
            left: 50%;
            transform: translateX(-50%);
            font-size: var(--font-size-xs);
            text-wrap: nowrap;
          }

          img {
            max-width: var(--team-size);
            max-height: var(--team-size);
          }

        }

        &-score {
          display: flex;
          align-items: center;
          gap: $size-3;

          padding: $size-2;

          span {
            height: var(--team-size);
            width: var(--team-size);
            max-width: var(--team-size);
            color: $dark;
            border: 1px solid $primary;
            border-radius: $size-3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-3;
          }
        }
      }

    }

    &.game {
      .card {
        &-header {
          border: 0px;
          background: $medium;
          padding: 0;

          .btn {
            position: relative;
            padding: $size-2 $size-4;
            // color: $primary;
            font-weight: bold;

            &:before {
              --minus-size: 16px;
              content: "";

              background-image: url('data:image/svg+xml,%3Csvg id="arrow" viewBox="0 0 16 16" height="24px" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath class="st0" fill="%23232323" d="M7.3,10.4l-3.8-3.9c-.3-.3-.3-.8,0-1.1s.8-.3,1.1,0l3.5,3.5,3.5-3.5c.3-.3.8-.3,1.1,0s.3.8,0,1.1l-4,4c-.1.1-.3.3-.6.3s-.6-.2-.8-.4Z"/%3E%3C/svg%3E');
              background-repeat: no-repeat;
              background-size: cover;
              position: absolute;
              right: 1rem;
              top: 50%;
              translate: 0 -50%;
              width: var(--minus-size);
              height: var(--minus-size);
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s ease-in-out;
              rotate: -180deg;
            }

            &.collapsed {

              &:before {
                rotate: 0deg;
              }
            }
          }
        }

        &-body {
          padding: $size-3;

          table {
            margin: 0;

            td {
              vertical-align: middle;
              text-align: center;
              padding: 0;

              &:nth-child(1) {
                width: 50px;
                max-width: 50px;
              }

              &:nth-child(2) {
                text-align: left;
                font-size: var(--font-size-sm);
              }

              .cravada,
              .saldo,
              .acerto {
                position: relative;
                display: flex;
                justify-content: center;
                font-weight: bold;
                border-radius: $size-2;
                color: $light;

                &:after {
                  content: '';
                  position: absolute;
                  top: -10px;
                  right: -10px;
                  color: $light;
                  width: 20px;
                  height: 20px;
                  background: $primary;
                  font-size: 10px;
                  border-radius: 100px;
                  padding: 2px;
                  font-weight: normal;
                  scale: .8;
                }
              }

              .cravada {

                background: $cravada;

                &:after {
                  content: '+3';
                }
              }

              .saldo {
                background: $saldo;
                // border: 1px solid $saldo;

                &:after {
                  content: '+2';
                }
              }

              .acerto {
                font-weight: normal;
                background: $acerto;
                // border: 1px solid $acerto;

                &:after {
                  content: '+1';
                }
              }
            }
          }
        }
      }
    }
  }

  #arrow {
    rotate: 180deg;
  }

  &.closed {
    #arrow {
      rotate: 0deg;
    }

    #content-space {
      height: 55px !important;
    }

    .accordion {
      gap: $size-2;
    }

    .card {
      &-game {
        padding: $size-2;
        gap: $size-2;
        // padding-bottom: 0;

        &-label {
          font-size: var(--font-size-xs);
        }

        &-result {
          --team-size: 30px;
          height: fit-content;
          display: flex;
          justify-content: space-between;
          padding-bottom: $size-0;

          &-team {
            // flex: 0 0 30%;
            width: 50%;
            position: relative;
            padding: $size-0 $size-2;
            display: flex;
            align-items: center;
            gap: $size-2;

            &.team-away {
              flex-direction: row-reverse;
              text-align: end;
            }

            &-name {
              position: relative;
              bottom: auto;
              left: auto;
              transform: translateX(0);
              font-size: var(--font-size-xs);
              line-height: 1;
              text-wrap: wrap;
            }

            img {
              max-width: var(--team-size);
              max-height: var(--team-size);
            }

          }

          &-score {
            display: flex;
            align-items: center;
            gap: $size-2;
            padding: $size-0 $size-1;

            span {
              height: var(--team-size);
              width: var(--team-size);
              max-width: var(--team-size);
              color: $dark;
              border: 1px solid $primary;
              border-radius: $size-1;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: $font-size-6;
            }
          }
        }

      }

      &.game {
        .card {
          position: relative;

          &-header {
            position: absolute;
            width: 100%;
            background: transparent;

            .btn {
              position: relative;
              padding: $size-1 $size-4;
              color: transparent;
              font-size: var(--font-size-xs);
              font-weight: bold;

            }
          }

          &-body {
            padding: $size-3;

            table {
              td {
                vertical-align: middle;
                text-align: center;
                padding: 0;

                &:nth-child(1) {
                  width: 50px;
                  max-width: 50px;
                }

                &:nth-child(2) {
                  text-align: left;
                  font-size: var(--font-size-sm);
                }

                .cravada,
                .saldo,
                .acerto {
                  position: relative;
                  display: flex;
                  justify-content: center;
                  font-weight: bold;
                  border-radius: $size-2;
                  color: $light;

                  &:after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    color: $light;
                    width: 20px;
                    height: 20px;
                    background: $primary;
                    font-size: 10px;
                    border-radius: 100px;
                    padding: 2px;
                    font-weight: normal;
                    scale: .8;
                  }
                }

                .cravada {

                  background: $cravada;

                  &:after {
                    content: '+3';
                  }
                }

                .saldo {
                  background: $saldo;
                  // border: 1px solid $saldo;

                  &:after {
                    content: '+2';
                  }
                }

                .acerto {
                  font-weight: normal;
                  background: $acerto;
                  // border: 1px solid $acerto;

                  &:after {
                    content: '+1';
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .selecao {

    &:after {
      right: -2px;
      background: linear-gradient(to right, transparent 0%, $light 80%);
    }

    &:before {
      left: -2px;
      background: linear-gradient(to left, transparent 0%, $light 80%);
    }


    .nav-pills {

      flex-direction: row-reverse;


      .nav-item {

        &:nth-child(1) {
          margin-right: 42px;
        }

        &:nth-last-child(1) {
          margin-left: 42px;
        }
      }

    }
  }

}

.navegacao {
  nav {
    .nav {
      &-link {
        background: transparent !important;
        width: 32%;
        border-bottom: 1px solid transparent;
        display: flex;
        justify-content: center;
        transition: var(--transition-2);

        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;

        &.active {
          color: $primary;
          border-bottom: 2px solid $primary !important;
          background: transparent;
          font-weight: 700;
          position: relative;
        }


        &:hover {
          border-bottom: 1px solid $primary;
        }
      }
    }
  }

}

.selecao {
  position: relative;

  /* width */

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 102%;
    z-index: 1;
    pointer-events: none;

    @media (max-width:576px) {
      width: 50px;
    }
  }

  &:after {
    right: -2px;
    background: linear-gradient(to right, transparent 0%, $light 80%);
  }


  .nav-pills {
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: var(--size-2);
    // flex-direction: row-reverse;
    // padding-inline: 42px;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      width: 0;
      height: 0;
    }

    .nav-item {
      text-wrap: nowrap;
    }

    .nav-link {
      background: $light;
      border: 1px solid $medium;
      border-radius: var(--size-2);
      transition: var(--transition-2);
      font-weight: 500;

      &.active {
        border: 1px solid $primary;
        background: $primary;
        position: relative;
      }

      &:hover {
        border: 1px solid $primary;
      }
    }
  }
}


