:root {
  --dark:$dark;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #E5E5E5;
  color: #232323;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #1CB19C;
}
a:hover {
  color: #1CB19C;
  font-weight: bold;
}

:focus-visible {
  outline: 1px auto #1CB19C;
}

.btn-click {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn-click:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-click:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.btn-click:focus, .btn-click:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #1CB19C;
  border: 2px solid #1CB19C;
  color: #FFF;
}
.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #1CB19C;
  color: #1CB19C;
}
.btn-primary:active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #1CB19C;
  border: 2px solid #1CB19C;
  color: #232323;
}

.round-05 {
  border-radius: 0.5rem;
}

.round-1 {
  border-radius: 1rem;
}

.bg-cravada {
  background-color: #BF9000 !important;
}

.bg-saldo {
  background-color: #38761D !important;
}

.bg-acerto {
  background-color: #134F5C !important;
}

.bg-light {
  background-color: #E5E5E5 !important;
}

.bg-dark {
  background-color: #232323 !important;
}

.bg-green {
  background-color: #06DDBB !important;
}

.bg-darkgreen {
  background-color: #1CB19C !important;
}

.c-cravada {
  color: #BF9000 !important;
}

.c-saldo {
  color: #38761D !important;
}

.c-acerto {
  color: #134F5C !important;
}

.c-light {
  color: #E5E5E5 !important;
}

.c-dark {
  color: #232323 !important;
}

.c-green {
  color: #06DDBB !important;
}

.c-darkgreen {
  color: #1CB19C !important;
}

/* ELEMENTS*/
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .navbar {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
#menu .nav-link {
  color: #232323;
}
#menu .nav-link:hover {
  color: #1CB19C;
}
#menu .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}
#menu .nav-space {
  height: 98px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .card {
  background: #E5E5E5;
  width: 100%;
  max-width: 500px;
  padding: 3rem 2rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 425px) {
  #content .card {
    padding: 2rem 1rem;
  }
}
#content .card input {
  background: transparent;
  border: 1px solid #232323;
  text-align: center;
}
#content .card input:focus {
  box-shadow: 0 0 0 0.2rem #06DDBB;
}
#content .card .btn {
  width: 100%;
  background: #232323;
  border: none;
}
#content .card .btn:hover {
  background: #1CB19C;
}
#content .pontuacao .circle {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .darkgreen {
  color: #1CB19C;
}
footer a {
  color: #1CB19C;
}
footer a:hover {
  color: #06DDBB;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */