@import '../essencial/variables';

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar {
    padding: $size-1 $size-2;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
  }


  .container {
    background: $light;
  }



  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    color: $dark;
    fill: $dark;
    padding-inline: .5rem;


    @media (max-width:992px) {
      flex-direction: column;
      font-size: .65rem;
      padding: .25rem;
    }

    &:hover {
      color: $primary;
      fill: $primary;
    }

    &.active {
      color: $light !important;
      fill: $light !important;
      font-weight: bold;
      background: var(--turquoise-600);
      border-radius: .5rem;

      img {
        filter: invert(1);
      }
    }

    &.disabled {
      color: rgba(0, 0, 0, .3) !important;
    }
  }

  .nav-space {
    height: 98px;

    @media (max-width:767px) {
      height: 74px;
    }
  }
}

#menu {

  .navbar {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);

    &-collapse {
      display: flex !important;
      position: fixed;
      bottom: .25rem;
      left: 0;
      right: 0;

      .navbar-nav {
        flex-direction: row;
        padding: .5rem;
        background: $light;
        box-shadow: 0px 0px 2px rgb(0 0 0 / 14%), 0px 2px 2px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
        width: calc(100% - 2rem);
        max-width: 690px;
        justify-content: space-between;
      }

    }
  }
}




#header-options {
  z-index: 1000 !important;

  .wrapper-alice {
    z-index: 1010;
  }

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }

  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }

  #sidebar-options {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 1002;
    background: #fff;
    color: #00AE9D;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    &.active {
      right: 0;
    }
  }


  #dismiss {
    font-size: 1.25rem;
    color: #013641;
    width: 16px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #fff;
    }
  }


  .overlay {
    // display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1001;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    pointer-events: none;

    &.active {
      pointer-events: initial;
      z-index: 1001;
      opacity: 1;
      transition: all .5s ease-in-out;
    }
  }
}