<div class="container fixed-top">
    <div class="row py-1 py-lg-3">
        <div class="col">
            <nav class="navbar border-radius-2 navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="http://www.resultadismo.com">
                    <img src="images/resultadismo.png" height="40" class="d-inline-block align-top" alt="">
                </a>
                <a class="navbar-toggler" href="" >
                    <img src="../images/icons/atualizar.svg" height="24px" alt="Regras">
                  </a>
                <div class="navbar-collapse justify-content-lg-end justify-content-center" id="navbarNav">
                    <ul class="navbar-nav border-radius-2 align-items-end">

                        <li class="nav-item">
                            <a class="nav-link" href="/regras">
                                <img src="../images/icons/regras.svg" height="24px" alt="Regras">
                                Regras
                            </a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="/jogos">
                                <img src="../images/icons/jogos.svg" height="24px" alt="Jogos">
                                Jogos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/classificacao">
                                <img src="../images/icons/classificacao.svg" height="24px" alt="Classificação">
                                Classificação
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/premiacao">
                                <img src="../images/icons/premiacao.svg" height="24px" alt="Premiação">

                                Premiação
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/palpitar">
                                <img src="../images/icons/palpitar.svg" height="24px" alt="Palpitar">

                                Palpitar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="nav-space"></div>

