<div class="navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav border-radius-2 align-items-end">

        <li class="nav-item">
            <a class="nav-link" href="/copa">
                <img src="../images/icons/copa.svg" height="24px" alt="Copa">
                Copa
            </a>
        </li>

        <li class="nav-item">

            <a class="nav-link" href="/jogos">
                <img src="../images/icons/jogos.svg" height="24px" alt="Jogos">
                Jogos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/resultadao">
                <img src="../images/icons/resultadao.svg" height="24px" alt="Classificação">
                Resultadão
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/classificacao.html">
                <img src="../images/icons/classificacao.svg" height="24px" alt="Classificações">
                Classificações
            </a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" href="/palpitar">
                <img src="../images/icons/palpitar.svg" height="24px" alt="Palpitar">

                Palpitar
            </a>
        </li> -->
    </ul>
</div>