$colors: (
  turquoise: (
    50: #effefa,
    100: #c8fff0,
    200: #91fee4,
    300: #52f6d5,
    400: #1ee3c0,
    500: #06ddbb,
    600: #1CB19C,
    700: #067f70,
    800: #0a655b,
    900: #0e534c,
    950: #003330
    ),
  star-dust: (
    50: #f0f0f0,
    100: #e5e5e5,
    200: #d1d1d1,
    300: #b0b0b0,
    400: #999999,
    500: #6d6d6d,
    600: #5d5d5d,
    700: #4f4f4f,
    800: #454545,
    900: #3d3d3d,
    950: #232323
    ),
  pizza: (
    50: #fefee8,
    100: #ffffc2,
    200: #fffb88,
    300: #fff243,
    400: #ffe110,
    500: #efc703,
    600: #bf9000,
    700: #a46f04,
    800: #87560c,
    900: #734710,
    950: #432505
    ),
  bilbao: (
    50: #f1fbea,
    100: #e0f6d1,
    200: #c3efa7,
    300: #9de274,
    400: #7ad249,
    500: #5bb72b,
    600: #43921e,
    700: #38761d,
    800: #2e591b,
    900: #284c1b,
    950: #12290a
    ),
  blue-dianne: (
    50: #ecfffe,
    100: #cefffe,
    200: #a4fcfd,
    300: #65f8fb,
    400: #1feaf1,
    500: #03ccd7,
    600: #05a4b5,
    700: #0c8292,
    800: #136877,
    900: #134f5c,
    950: #073945
    ),
  punch: (
    50: #fff1f1,
    100: #ffe0e0,
    200: #ffc7c7,
    300: #ffa0a0,
    400: #ff6969,
    500: #f93a3a,
    600: #e21818,
    700: #c21313,
    800: #a01414,
    900: #851717,
    950: #490606,
    )
);





:root {

  @each $color-name,
  $shades in $colors {

    @each $shade,
    $value in $shades {
      --#{$color-name}-#{$shade}: #{$value};
    }
  }


/* @link https://utopia.fyi/type/calculator?c=320,16,1.18,1240,18,1.22285,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step Xsmall: 11.6px → 13px */
  --font-size-xs: clamp(0.725rem, 0.70rem + 0.06vw, 0.8125rem);
  /* Step Small: 13px → 15px */
  --font-size-sm: clamp(0.8125rem, 0.82rem + 0.13vw, 0.9375rem);
  /* Step Base/paragrafo/body: 16px → 18px */
  --font-size-bs: clamp(1rem, 0.95rem + 0.22vw, 1.125rem);
  /* Step h6: 19px → 22px */
  --font-size-6: clamp(1.18rem, 1.1875rem + 0.34vw, 1.375rem);
  /* Step h5: 23px → 27px */
  --font-size-5: clamp(1.4375rem, 1.3rem + 0.5vw, 1.6875rem);
  /* Step h4: 27px → 33px */
  --font-size-4: clamp(1.6875rem, 1.5rem + 0.72vw, 2.0625rem);
  /* Step h3: 32px → 40px */
  --font-size-3: clamp(2rem, 1.74rem + 1vw, 2.5rem);
  /* Step h2: 37px → 50px */
  --font-size-2: clamp(2.3125rem, 2rem + 1.37vw, 3.125rem);
  /* Step h1: 45px → 60px */
  --font-size-1: clamp(2.8125rem, 2.3rem + 1.85vw, 3.75rem);
  /* Step display lg: 52px → 75px */
  --font-size-lg: clamp(3.25rem, 2.7rem + 2.46vw, 4.6875rem);
  /* Step display xl: 60px → 90px */
  --font-size-xl: clamp(3.75rem, 3.1rem + 3.25vw, 5.625rem);

  --font-size-base: var(--font-size-bs);
  --font-size-minor: var(--font-size-xs);
  --font-size-small: var(--font-size-sm);
  

  --size-0: 0rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 3rem;

  --size-none: 0;
  --size-quarck: 4px;
  --size-nano: 8px;
  --size-xxxs: 16px;
  --size-xxs: 24px;
  --size-xs: 32px;
  --size-sm: 40px;
  --size-md: 48px;
  --size-lg: 56px;
  --size-xl: 64px;
  --size-xxl: 80px;
  --size-xxxl: 120px;
  --size-huge: 160px;
  --size-giant: 200px;

  --border-radius-none: 0;
  --border-radius-xs: 6px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-pill: 1000px;
  --border-radius-circular: 50%;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 22px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 52px;
  --font-size-3xl: 32px;
  --font-size-4xl: 40px;
  --font-size-5xl: 52px;
  --font-size-6xl: 64px;

  --line-height-tight: 100%;
  --line-height-medium: 120%;
  --line-height-distant: 150%;
  --line-height-super-distant: 200%;

  


  --font-sans: 'Sicoob sans',
  'Asap',
  sans-serif;
  --font-script: 'Sicoob script',
  'Pacifico',
  cursive;

  --line-height-1: 100%;
  --line-height-2: 120%;
  --line-height-3: 150%;
  --line-height-4: 200%;

  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);

  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);

  --box-shadow-xs: 0 2px 4px rgba(128, 128, 128, 0.2);
  --box-shadow-sm: 0 2px 8px rgba(128, 128, 128, 0.2);


  --primary:var(--turquoise-600);
  --secondary: var(--star-dust-950);
}


$white: var(--star-dust-50);
$light:  var(--star-dust-100);
$medium: var(--star-dust-200);
$gray: var(--star-dust-400);
$dark-gray: var(--star-dust-600);
$dark: var(--star-dust-950);
$primary-light: var(--turquoise-500);

$primary:#1CB19C;
$primary: var(--turquoise-600);
$secondary: var(--star-dust-950);
$cravada:var(--pizza-600);
$saldo:var(--bilbao-700);
$acerto:var(--blue-dianne-900);
$danger-light: var(--punch-300);
$danger: var(--punch-700);
$danger-dark: var(--punch-950);
$transparent:rgba(0, 0, 0, 0);

$size-0:var(--size-0);
$size-1:var(--size-1);
$size-2:var(--size-2);
$size-3:var(--size-3);
$size-4:var(--size-4);
$size-5:var(--size-5);


$font-size-xs:var(--font-size-xs);
$font-size-sm:var(--font-size-sm);
$font-size-bs:var(--font-size-bs);
$font-size-1:var(--font-size-1);
$font-size-2:var(--font-size-2);
$font-size-3:var(--font-size-3);
$font-size-4:var(--font-size-4);
$font-size-5:var(--font-size-5);
$font-size-6:var(--font-size-6);
$font-size-lg:var(--font-size-lg);
$font-size-xl:var(--font-size-xl);

$size-none: var(--size-none);
$size-quarck: var(--size-quarck);
$size-nano: var(--size-nano);
$size-xxxs: var(--size-xxxs);
$size-xxs: var(--size-xxs);
$size-xs: var(--size-xs);
$size-sm: var(--size-sm);
$size-md: var(--size-md);
$size-lg: var(--size-lg);
$size-xl: var(--size-xl);
$size-xxl: var(--size-xxl);
$size-xxxl: var(--size-xxxl);
$size-huge: var(--size-huge);
$size-giant: var(--size-giant);

$border-radius-none: var(--border-radius-none);
$border-radius-xs: var(--border-radius-xs);
$border-radius-sm: var(--border-radius-sm);
$border-radius-md: var(--border-radius-md);
$border-radius-lg: var(--border-radius-lg);
$border-radius-pill: var(--border-radius-pill);
$border-radius-circular: var(--border-radius-circular);

$box-shadow-1: var(--box-shadow-1);
$box-shadow-2: var(--box-shadow-2);
$box-shadow-3: var(--box-shadow-3);
$box-shadow-4: var(--box-shadow-4);

$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$font-size-xxl: var(--font-size-xxl);
$font-size-xxxl: var(--font-size-xxxl);
$font-size-3xl: var(--font-size-3xl);
$font-size-4xl: var(--font-size-4xl);
$font-size-5xl: var(--font-size-5xl);
$font-size-6xl: var(--font-size-6xl);

$line-height-tight: var(--line-height-tight);
$line-height-medium: var(--line-height-medium);
$line-height-distant: var(--line-height-distant);
$line-height-super-distant: var(--line-height-super-distant);