$colors: (
  turquoise: (
    50: #effefa,
    100: #c8fff0,
    200: #91fee4,
    300: #52f6d5,
    400: #1ee3c0,
    500: #06ddbb,
    600: #01a08a,
    700: #067f70,
    800: #0a655b,
    900: #0e534c,
    950: #003330
    ),
  star-dust: (
    50: #f0f0f0,
    100: #e5e5e5,
    200: #d1d1d1,
    300: #b0b0b0,
    400: #999999,
    500: #6d6d6d,
    600: #5d5d5d,
    700: #4f4f4f,
    800: #454545,
    900: #3d3d3d,
    950: #232323
    ),
  pizza: (
    50: #fefee8,
    100: #ffffc2,
    200: #fffb88,
    300: #fff243,
    400: #ffe110,
    500: #efc703,
    600: #bf9000,
    700: #a46f04,
    800: #87560c,
    900: #734710,
    950: #432505
    ),
  bilbao: (
    50: #f1fbea,
    100: #e0f6d1,
    200: #c3efa7,
    300: #9de274,
    400: #7ad249,
    500: #5bb72b,
    600: #43921e,
    700: #38761d,
    800: #2e591b,
    900: #284c1b,
    950: #12290a
    ),
  blue-dianne: (
    50: #ecfffe,
    100: #cefffe,
    200: #a4fcfd,
    300: #65f8fb,
    400: #1feaf1,
    500: #03ccd7,
    600: #05a4b5,
    700: #0c8292,
    800: #136877,
    900: #134f5c,
    950: #073945
    ),
  punch: (
    50: #fff1f1,
    100: #ffe0e0,
    200: #ffc7c7,
    300: #ffa0a0,
    400: #ff6969,
    500: #f93a3a,
    600: #e21818,
    700: #c21313,
    800: #a01414,
    900: #851717,
    950: #490606,
    )
);





:root {

  @each $color-name,
  $shades in $colors {

    @each $shade,
    $value in $shades {
      --#{$color-name}-#{$shade}: #{$value};
    }
  }

  --color-brand-main: var(--persian-primary-light-600);
--color-brand-opposite: var(--victoria-700);
--color-brand-complementary: var(--lima-500);
--color-brand-supplementary: var(--rio-grande-600);
--color-brand-dusky: var(--cyprus-800);

--color-denotative-success-darkest: var(--lima-800);
--color-denotative-success-action: var(--lima-700);
--color-denotative-success-default: var(--lima-500);
--color-denotative-success-active: var(--lima-200);
--color-denotative-success-lightest: var(--lima-100);

--color-denotative-info-darkest: var(--cerulean-800);
--color-denotative-info-action: var(--cerulean-700);
--color-denotative-info-default: var(--cerulean-600);
--color-denotative-info-active: var(--cerulean-200);
--color-denotative-info-lightest: var(--cerulean-50);

--color-denotative-warning-darkest: var(--sunshade-800);
--color-denotative-warning-action: var(--sunshade-600);
--color-denotative-warning-default: var(--sunshade-400);
--color-denotative-warning-active: var(--sunshade-200);
--color-denotative-warning-lightest: var(--sunshade-50);

--color-denotative-error-darkest: var(--violet-red-800);
--color-denotative-error-action: var(--violet-red-700);
--color-denotative-error-default: var(--violet-red-500);
--color-denotative-error-active: var(--violet-red-200);
--color-denotative-error-lightest: var(--violet-red-50);

--color-function-disabled-background: var(--mine-shaft-100);
--color-function-disabled-text: var(--mine-shaft-400);
--color-function-disabled-border: var(--mine-shaft-300);

--color-function-primary-darkest: var(--persian-primary-light-800);
--color-function-primary-action: var(--persian-primary-light-600);
--color-function-primary-default: var(--persian-primary-light-700);
--color-function-primary-active: var(--persian-primary-light-500);
--color-function-primary-lightest: var(--persian-primary-light-50);

--color-function-secondary-darkest: var(--victoria-800);
--color-function-secondary-action: var(--victoria-600);
--color-function-secondary-default: var(--victoria-700);
--color-function-secondary-active: var(--victoria-500);
--color-function-secondary-lightest: var(--victoria-50);

--color-function-tertiary-darkest: var(--cyprus-800);
--color-function-tertiary-action: var(--cyprus-600);
--color-function-tertiary-default: var(--cyprus-700);
--color-function-tertiary-active: var(--persian-primary-light-500);
--color-function-tertiary-lightest: var(--persian-primary-light-400);

--color-surface-text-default-low: var(--mine-shaft-400);
--color-surface-text-default-medium: var(--mine-shaft-600);
--color-surface-text-default-high: var(--cyprus-800);

--color-surface-text-highlight-low: var(--athens-gray-50);
--color-surface-text-highlight-medium: var(--cyprus-600);
--color-surface-text-highlight-high: var(--persian-primary-light-600);

--color-surface-background-low: var(--mine-shaft-50);
--color-surface-background-medium: var(--athens-gray-100);
--color-surface-background-high: var(--cyprus-800);

--color-surface-stroke-low: var(--mine-shaft-100);
--color-surface-stroke-medium: var(--athens-gray-200);
--color-surface-stroke-high: var(--athens-gray-300);

--color-surface-support-1-low: var(--mine-shaft-100);
--color-surface-support-1-medium: var(--cyprus-700);
--color-surface-support-1-high: var(--cyprus-800);

--color-surface-support-2-low: var(--athens-gray-50);
--color-surface-support-2-medium: var(--athens-gray-400);
--color-surface-support-2-high: var(--athens-gray-900);

--color-surface-support-3-low: var(--mine-shaft-50);
--color-surface-support-3-medium: var(--mine-shaft-400);
--color-surface-support-3-high: var(--mine-shaft-900);

--color-surface-support-4-low: var(--persian-primary-light-50);
--color-surface-support-4-medium: var(--persian-primary-light-600);
--color-surface-support-4-high: var(--persian-primary-light-950);

--color-surface-support-5-low: var(--lima-50);
--color-surface-support-5-medium: var(--lima-600);
--color-surface-support-5-high: var(--lima-950);

--color-surface-support-6-low: var(--rio-grande-50);
--color-surface-support-6-medium: var(--rio-grande-600);
--color-surface-support-6-high: var(--rio-grande-950);

--color-surface-support-7-low: var(--victoria-50);
--color-surface-support-7-medium: var(--victoria-400);
--color-surface-support-7-high: var(--victoria-950);

--color-surface-balance-income-low: var(--lima-50);
--color-surface-balance-income-medium: var(--lima-600);

--color-surface-balance-debit-low: var(--violet-red-50);
--color-surface-balance-debit-medium: var(--violet-red-600);


  --size-0: 0rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 3rem;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.18,1240,18,1.22285,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  /* Step Xsmall: 11.6px → 13px */
  --font-size-xs: clamp(0.725rem, 0.70rem + 0.06vw, 0.8125rem);
  /* Step Small: 13px → 15px */
  --font-size-sm: clamp(0.8125rem, 0.82rem + 0.13vw, 0.9375rem);
  /* Step Base/paragrafo/body: 16px → 18px */
  --font-size-bs: clamp(1rem, 0.95rem + 0.22vw, 1.125rem);
  /* Step h6: 19px → 22px */
  --font-size-6: clamp(1.18rem, 1.1875rem + 0.34vw, 1.375rem);
  /* Step h5: 23px → 27px */
  --font-size-5: clamp(1.4375rem, 1.3rem + 0.5vw, 1.6875rem);
  /* Step h4: 27px → 33px */
  --font-size-4: clamp(1.6875rem, 1.5rem + 0.72vw, 2.0625rem);
  /* Step h3: 32px → 40px */
  --font-size-3: clamp(2rem, 1.74rem + 1vw, 2.5rem);
  /* Step h2: 37px → 50px */
  --font-size-2: clamp(2.3125rem, 2rem + 1.37vw, 3.125rem);
  /* Step h1: 45px → 60px */
  --font-size-1: clamp(2.8125rem, 2.3rem + 1.85vw, 3.75rem);
  /* Step display lg: 52px → 75px */
  --font-size-lg: clamp(3.25rem, 2.7rem + 2.46vw, 4.6875rem);
  /* Step display xl: 60px → 90px */
  --font-size-xl: clamp(3.75rem, 3.1rem + 3.25vw, 5.625rem);

  --font-size-base: var(--font-size-bs);
  --font-size-minor: var(--font-size-xs);
  --font-size-small: var(--font-size-sm);


  --font-sans: 'Sicoob sans',
  'Asap',
  sans-serif;
  --font-script: 'Sicoob script',
  'Pacifico',
  cursive;

  --line-height-1: 100%;
  --line-height-2: 120%;
  --line-height-3: 150%;
  --line-height-4: 200%;

  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);

  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);

  --box-shadow-xs: 0 2px 4px rgba(128, 128, 128, 0.2);
  --box-shadow-sm: 0 2px 8px rgba(128, 128, 128, 0.2);

}


$white: var(--star-dust-50);
$light:  var(--star-dust-100);
$medium: var(--star-dust-200);
$darkgray: var(--star-dust-400);
$dark: var(--star-dust-950);
$primary-light: var(--turquoise-500);
$primary:#1CB19C;
$primary: var(--turquoise-600);
$cravada:#BF9000;
$saldo:#38761D;
$acerto:#134F5C;
$transparent:rgba(0, 0, 0, 0);

$size-0:var(--size-0);
$size-1:var(--size-1);
$size-2:var(--size-2);
$size-3:var(--size-3);
$size-4:var(--size-4);
$size-5:var(--size-5);


$font-size-xs:var(--font-size-xs);
$font-size-sm:var(--font-size-sm);
$font-size-bs:var(--font-size-bs);
$font-size-1:var(--font-size-1);
$font-size-2:var(--font-size-2);
$font-size-3:var(--font-size-3);
$font-size-4:var(--font-size-4);
$font-size-5:var(--font-size-5);
$font-size-6:var(--font-size-6);
$font-size-lg:var(--font-size-lg);
$font-size-xl:var(--font-size-xl);