@charset "UTF-8";
:root {
  --turquoise-50: #effefa;
  --turquoise-100: #c8fff0;
  --turquoise-200: #91fee4;
  --turquoise-300: #52f6d5;
  --turquoise-400: #1ee3c0;
  --turquoise-500: #06ddbb;
  --turquoise-600: #01a08a;
  --turquoise-700: #067f70;
  --turquoise-800: #0a655b;
  --turquoise-900: #0e534c;
  --turquoise-950: #003330;
  --star-dust-50: #f0f0f0;
  --star-dust-100: #e5e5e5;
  --star-dust-200: #d1d1d1;
  --star-dust-300: #b0b0b0;
  --star-dust-400: #999999;
  --star-dust-500: #6d6d6d;
  --star-dust-600: #5d5d5d;
  --star-dust-700: #4f4f4f;
  --star-dust-800: #454545;
  --star-dust-900: #3d3d3d;
  --star-dust-950: #232323;
  --pizza-50: #fefee8;
  --pizza-100: #ffffc2;
  --pizza-200: #fffb88;
  --pizza-300: #fff243;
  --pizza-400: #ffe110;
  --pizza-500: #efc703;
  --pizza-600: #bf9000;
  --pizza-700: #a46f04;
  --pizza-800: #87560c;
  --pizza-900: #734710;
  --pizza-950: #432505;
  --bilbao-50: #f1fbea;
  --bilbao-100: #e0f6d1;
  --bilbao-200: #c3efa7;
  --bilbao-300: #9de274;
  --bilbao-400: #7ad249;
  --bilbao-500: #5bb72b;
  --bilbao-600: #43921e;
  --bilbao-700: #38761d;
  --bilbao-800: #2e591b;
  --bilbao-900: #284c1b;
  --bilbao-950: #12290a;
  --blue-dianne-50: #ecfffe;
  --blue-dianne-100: #cefffe;
  --blue-dianne-200: #a4fcfd;
  --blue-dianne-300: #65f8fb;
  --blue-dianne-400: #1feaf1;
  --blue-dianne-500: #03ccd7;
  --blue-dianne-600: #05a4b5;
  --blue-dianne-700: #0c8292;
  --blue-dianne-800: #136877;
  --blue-dianne-900: #134f5c;
  --blue-dianne-950: #073945;
  --punch-50: #fff1f1;
  --punch-100: #ffe0e0;
  --punch-200: #ffc7c7;
  --punch-300: #ffa0a0;
  --punch-400: #ff6969;
  --punch-500: #f93a3a;
  --punch-600: #e21818;
  --punch-700: #c21313;
  --punch-800: #a01414;
  --punch-900: #851717;
  --punch-950: #490606;
  --color-brand-main: var(--persian-primary-light-600);
  --color-brand-opposite: var(--victoria-700);
  --color-brand-complementary: var(--lima-500);
  --color-brand-supplementary: var(--rio-grande-600);
  --color-brand-dusky: var(--cyprus-800);
  --color-denotative-success-darkest: var(--lima-800);
  --color-denotative-success-action: var(--lima-700);
  --color-denotative-success-default: var(--lima-500);
  --color-denotative-success-active: var(--lima-200);
  --color-denotative-success-lightest: var(--lima-100);
  --color-denotative-info-darkest: var(--cerulean-800);
  --color-denotative-info-action: var(--cerulean-700);
  --color-denotative-info-default: var(--cerulean-600);
  --color-denotative-info-active: var(--cerulean-200);
  --color-denotative-info-lightest: var(--cerulean-50);
  --color-denotative-warning-darkest: var(--sunshade-800);
  --color-denotative-warning-action: var(--sunshade-600);
  --color-denotative-warning-default: var(--sunshade-400);
  --color-denotative-warning-active: var(--sunshade-200);
  --color-denotative-warning-lightest: var(--sunshade-50);
  --color-denotative-error-darkest: var(--violet-red-800);
  --color-denotative-error-action: var(--violet-red-700);
  --color-denotative-error-default: var(--violet-red-500);
  --color-denotative-error-active: var(--violet-red-200);
  --color-denotative-error-lightest: var(--violet-red-50);
  --color-function-disabled-background: var(--mine-shaft-100);
  --color-function-disabled-text: var(--mine-shaft-400);
  --color-function-disabled-border: var(--mine-shaft-300);
  --color-function-primary-darkest: var(--persian-primary-light-800);
  --color-function-primary-action: var(--persian-primary-light-600);
  --color-function-primary-default: var(--persian-primary-light-700);
  --color-function-primary-active: var(--persian-primary-light-500);
  --color-function-primary-lightest: var(--persian-primary-light-50);
  --color-function-secondary-darkest: var(--victoria-800);
  --color-function-secondary-action: var(--victoria-600);
  --color-function-secondary-default: var(--victoria-700);
  --color-function-secondary-active: var(--victoria-500);
  --color-function-secondary-lightest: var(--victoria-50);
  --color-function-tertiary-darkest: var(--cyprus-800);
  --color-function-tertiary-action: var(--cyprus-600);
  --color-function-tertiary-default: var(--cyprus-700);
  --color-function-tertiary-active: var(--persian-primary-light-500);
  --color-function-tertiary-lightest: var(--persian-primary-light-400);
  --color-surface-text-default-low: var(--mine-shaft-400);
  --color-surface-text-default-medium: var(--mine-shaft-600);
  --color-surface-text-default-high: var(--cyprus-800);
  --color-surface-text-highlight-low: var(--athens-gray-50);
  --color-surface-text-highlight-medium: var(--cyprus-600);
  --color-surface-text-highlight-high: var(--persian-primary-light-600);
  --color-surface-background-low: var(--mine-shaft-50);
  --color-surface-background-medium: var(--athens-gray-100);
  --color-surface-background-high: var(--cyprus-800);
  --color-surface-stroke-low: var(--mine-shaft-100);
  --color-surface-stroke-medium: var(--athens-gray-200);
  --color-surface-stroke-high: var(--athens-gray-300);
  --color-surface-support-1-low: var(--mine-shaft-100);
  --color-surface-support-1-medium: var(--cyprus-700);
  --color-surface-support-1-high: var(--cyprus-800);
  --color-surface-support-2-low: var(--athens-gray-50);
  --color-surface-support-2-medium: var(--athens-gray-400);
  --color-surface-support-2-high: var(--athens-gray-900);
  --color-surface-support-3-low: var(--mine-shaft-50);
  --color-surface-support-3-medium: var(--mine-shaft-400);
  --color-surface-support-3-high: var(--mine-shaft-900);
  --color-surface-support-4-low: var(--persian-primary-light-50);
  --color-surface-support-4-medium: var(--persian-primary-light-600);
  --color-surface-support-4-high: var(--persian-primary-light-950);
  --color-surface-support-5-low: var(--lima-50);
  --color-surface-support-5-medium: var(--lima-600);
  --color-surface-support-5-high: var(--lima-950);
  --color-surface-support-6-low: var(--rio-grande-50);
  --color-surface-support-6-medium: var(--rio-grande-600);
  --color-surface-support-6-high: var(--rio-grande-950);
  --color-surface-support-7-low: var(--victoria-50);
  --color-surface-support-7-medium: var(--victoria-400);
  --color-surface-support-7-high: var(--victoria-950);
  --color-surface-balance-income-low: var(--lima-50);
  --color-surface-balance-income-medium: var(--lima-600);
  --color-surface-balance-debit-low: var(--violet-red-50);
  --color-surface-balance-debit-medium: var(--violet-red-600);
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.18,1240,18,1.22285,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step Xsmall: 11.6px → 13px */
  --font-size-xs: clamp(0.725rem, 0.70rem + 0.06vw, 0.8125rem);
  /* Step Small: 13px → 15px */
  --font-size-sm: clamp(0.8125rem, 0.82rem + 0.13vw, 0.9375rem);
  /* Step Base/paragrafo/body: 16px → 18px */
  --font-size-bs: clamp(1rem, 0.95rem + 0.22vw, 1.125rem);
  /* Step h6: 19px → 22px */
  --font-size-6: clamp(1.18rem, 1.1875rem + 0.34vw, 1.375rem);
  /* Step h5: 23px → 27px */
  --font-size-5: clamp(1.4375rem, 1.3rem + 0.5vw, 1.6875rem);
  /* Step h4: 27px → 33px */
  --font-size-4: clamp(1.6875rem, 1.5rem + 0.72vw, 2.0625rem);
  /* Step h3: 32px → 40px */
  --font-size-3: clamp(2rem, 1.74rem + 1vw, 2.5rem);
  /* Step h2: 37px → 50px */
  --font-size-2: clamp(2.3125rem, 2rem + 1.37vw, 3.125rem);
  /* Step h1: 45px → 60px */
  --font-size-1: clamp(2.8125rem, 2.3rem + 1.85vw, 3.75rem);
  /* Step display lg: 52px → 75px */
  --font-size-lg: clamp(3.25rem, 2.7rem + 2.46vw, 4.6875rem);
  /* Step display xl: 60px → 90px */
  --font-size-xl: clamp(3.75rem, 3.1rem + 3.25vw, 5.625rem);
  --font-size-base: var(--font-size-bs);
  --font-size-minor: var(--font-size-xs);
  --font-size-small: var(--font-size-sm);
  --size-0: 0rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 3rem;
  --size-none: 0;
  --size-quarck: 4px;
  --size-nano: 8px;
  --size-xxxs: 16px;
  --size-xxs: 24px;
  --size-xs: 32px;
  --size-sm: 40px;
  --size-md: 48px;
  --size-lg: 56px;
  --size-xl: 64px;
  --size-xxl: 80px;
  --size-xxxl: 120px;
  --size-huge: 160px;
  --size-giant: 200px;
  --border-radius-none: 0;
  --border-radius-xs: 6px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-pill: 1000px;
  --border-radius-circular: 50%;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 22px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 52px;
  --font-size-3xl: 32px;
  --font-size-4xl: 40px;
  --font-size-5xl: 52px;
  --font-size-6xl: 64px;
  --line-height-tight: 100%;
  --line-height-medium: 120%;
  --line-height-distant: 150%;
  --line-height-super-distant: 200%;
  --font-sans: "Sicoob sans",
  "Asap",
  sans-serif;
  --font-script: "Sicoob script",
  "Pacifico",
  cursive;
  --line-height-1: 100%;
  --line-height-2: 120%;
  --line-height-3: 150%;
  --line-height-4: 200%;
  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);
  --box-shadow-xs: 0 2px 4px rgba(128, 128, 128, 0.2);
  --box-shadow-sm: 0 2px 8px rgba(128, 128, 128, 0.2);
}/*# sourceMappingURL=root.css.map */